<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mypageLayout}">
<head>

</head>

<th:block layout:fragment="customContent">
	<div class="page-title">
		<div class="title">
			<div class="col-md-6">

				<div class="x_panel">
					<div class="x_title">
						<h2>싸이클 등록</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br>
						<form class="form-horizontal form-label-left">
							<div class="form-group row ">
								<label class="control-label col-md-3 col-sm-3"> 케이지 코드
								</label>
								<div class="col-md-9 col-sm-9 ">
									<input type="text" class="form-control"
										placeholder="Default Input" readonly="readonly">
								</div>
							</div>

							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-left">싸이클 시잘날짜
								 <span class="required">*</span>
								</label>
								<div class="col-md-9 col-sm-9 ">
									<input id="birthday" class="date-picker form-control"
										placeholder="dd-mm-yyyy" type="date" required="required"
										onfocus="this.type='date'" onmouseover="this.type='date'"
										onclick="this.type='date'" onblur="this.type='text'"
										onmouseout="timeFunctionLong(this)">
									<script>
										function timeFunctionLong(input) {
											setTimeout(function() {
												input.type = 'text';
											}, 60000);
										}
									</script>
								</div>
							</div>

							<div class="form-group row">
								<label class="control-label col-md-3 col-sm-3 "> 투입 알 용량[g] </label>
								<div class="col-md-9 col-sm-9 ">
									<input type="text" class="form-control"
										placeholder="Disabled Input">
								</div>
							</div>
							<div class="form-group row">
                            <label class="col-form-label col-md-3 col-sm-3 label-left">목표 상태</label>
                            <div class="col-md-6 col-sm-6 ">
                              <div id="gender" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                  <input type="radio" name="gender" value="male" class="join-btn"> &nbsp; Lava &nbsp;
                                </label>
                                <label class="btn btn-primary active" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                  <input type="radio" name="gender" value="female" class="join-btn"> Puppa
                                </label>
                              </div>
                            </div>
                          </div>

							<div class="form-group row">
								<label class="control-label col-md-3 col-sm-3 ">비밀번호</label>
								<div class="col-md-9 col-sm-9 ">
									<input type="password" class="form-control"
										value="passwordonetwo">
								</div>
							</div>

							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9  offset-md-3">
									<button type="button" class="btn btn-primary">Cancel</button>
									<button type="reset" class="btn btn-primary">Reset</button>
									<button type="submit" class="btn btn-success">Submit</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>