<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypageLayout}">
<head>

</head>

<th:block layout:fragment="customContent">
  <div class="page-title">
    <div class="title">
      <div>

      </div>
      <div class="x_panel">
        <div class="x_title">
          <h2>사육장 목록</h2>


          <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
            <li><a class="collapse-link"><i class="fa fa-chevron-up" ></i></a>
            </li>
            <li class="dropdown" >
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              </div>
            </li>
          </ul>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <table class="table table-hover" >
            <thead>
            <tr>
              <th>사육장 이름</th>
              <th>사육장 주소</th>
              <th>케이지 개수</th>
              <th>총 용량</th>
              <th>상태 확인</th>
              <th>사육장 등록일</th>
              <th>수정</th>
              <th>삭제</th>
            </tr>
            </thead>

            <tbody>
            <tr th:unless="${farmList == null}" th:each="l : ${farmList}">
              <td>
                <a th:href="@{/farm/farmDetail(farmCode=${l.farmCode})}" th:text="' ' + ${l.farmName}" class="fa fa-plus-square-o"></a>

              </td>
              <td th:text="${l.farmAddr}"></td>
              <td th:text="${l.cageAmount}"></td>
              <td th:text="${l.totalCapacity}"></td>
              <td>
                <a th:href="@{/farm/farmStatusList(farmCode=${l.farmCode})}">상태보기</a>
              </td>
              <td th:text="${l.farmRegDate}"></td>
              <td th:href="@{#}">수정</td>
              <td th:href="@{#}">삭제</td>


            </tr>
            </tbody>
          </table>
         <a class="btn btn-dark" th:href="@{/farm/addFarm}" style="color: white;">사육장 등록</a>
        </div>
      </div>
    </div>
  </div>
</th:block>
</html>