<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">

<head>
<style type="text/css">
.dataTables_length {
  display: none;
}
</style>
</head>
<th:block layout:fragment="customContent">
	<div class="page-title">
		<div class="title">
			<div class="x_panel">
				<div class="x_title">
					<h2>먹이 급여 조회</h2>

					<ul class="nav navbar-right panel_toolbox"
						style="flex-direction: row-reverse">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown">
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							</div>
						</li>
					</ul>

					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box table-responsive">
								<div class="col-sm-6">
									<div class="x_panel">
										<div class="x_title">
											<h2>
												Line Graph <small>Sessions</small>
											</h2>
											<ul class="nav navbar-right panel_toolbox">
												<li><a class="collapse-link"><i
														class="fa fa-chevron-up"></i></a></li>
												<li class="dropdown"><a href="#"
													class="dropdown-toggle" data-toggle="dropdown"
													role="button" aria-expanded="false"><i
														class="fa fa-wrench"></i></a>
													<div class="dropdown-menu"
														aria-labelledby="dropdownMenuButton">
														<a class="dropdown-item" href="#">Settings 1</a> <a
															class="dropdown-item" href="#">Settings 2</a>
													</div></li>
												<li><a class="close-link"><i class="fa fa-close"></i></a>
												</li>
											</ul>
											<div class="clearfix"></div>
										</div>
										<div class="x_content2">
											<div id="graph_line"
												style="width: 100%; height: 300px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
												<svg height="300" version="1.1" width="502"
													xmlns="http://www.w3.org/2000/svg"
													xmlns:xlink="http://www.w3.org/1999/xlink"
													style="overflow: hidden; position: relative; top: -0.375px;">
													<desc
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël @@VERSION</desc>
													<defs
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
													<text x="26.109375" y="259" text-anchor="end"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text>
													<path fill="none" stroke="#aaaaaa" d="M38.609375,259H477"
														stroke-width="0.5"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
													<text x="26.109375" y="200.5" text-anchor="end"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5</tspan></text>
													<path fill="none" stroke="#aaaaaa" d="M38.609375,200.5H477"
														stroke-width="0.5"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
													<text x="26.109375" y="142" text-anchor="end"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10</tspan></text>
													<path fill="none" stroke="#aaaaaa" d="M38.609375,142H477"
														stroke-width="0.5"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
													<text x="26.109375" y="83.5" text-anchor="end"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15</tspan></text>
													<path fill="none" stroke="#aaaaaa" d="M38.609375,83.5H477"
														stroke-width="0.5"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
													<text x="26.109375" y="25" text-anchor="end"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20</tspan></text>
													<path fill="none" stroke="#aaaaaa" d="M38.609375,25H477"
														stroke-width="0.5"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
													<text x="477" y="271.5" text-anchor="middle"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal" transform="matrix(1,0,0,1,0,8)">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2016</tspan></text>
													<text x="367.477359257358" y="271.5" text-anchor="middle"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal" transform="matrix(1,0,0,1,0,8)">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2015</tspan></text>
													<text x="257.954718514716" y="271.5" text-anchor="middle"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal" transform="matrix(1,0,0,1,0,8)">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2014</tspan></text>
													<text x="148.4320777720739" y="271.5" text-anchor="middle"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal" transform="matrix(1,0,0,1,0,8)">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan></text>
													<text x="38.609375" y="271.5" text-anchor="middle"
														font-family="sans-serif" font-size="12px" stroke="none"
														fill="#888888"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: sans-serif; font-size: 12px; font-weight: normal;"
														font-weight="normal" transform="matrix(1,0,0,1,0,8)">
													<tspan dy="4"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text>
													<path fill="none" stroke="#26b99a"
														d="M38.609375,25C66.06505069301848,54.25,120.97640207905543,120.03248974008208,148.4320777720739,142C175.81273795773444,163.9074897400821,230.57405832905545,193.1875,257.954718514716,200.5C285.3353787003765,207.8125,340.09669907169746,222.4375,367.477359257358,200.5C394.8580194430185,178.5625,449.61933981433947,68.875,477,25"
														stroke-width="3"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
													<circle cx="38.609375" cy="25" r="4" fill="#26b99a"
														stroke="#ffffff" stroke-width="1"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
													<circle cx="148.4320777720739" cy="142" r="4"
														fill="#26b99a" stroke="#ffffff" stroke-width="1"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
													<circle cx="257.954718514716" cy="200.5" r="4"
														fill="#26b99a" stroke="#ffffff" stroke-width="1"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
													<circle cx="367.477359257358" cy="200.5" r="4"
														fill="#26b99a" stroke="#ffffff" stroke-width="1"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
													<circle cx="477" cy="25" r="4" fill="#26b99a"
														stroke="#ffffff" stroke-width="1"
														style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg>
												<div class="morris-hover morris-default-style"
													style="left: 437px; top: 35px; display: none;">
													<div class="morris-hover-row-label">2016</div>
													<div class="morris-hover-point" style="color: #26B99A">
														Value: 20</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6">


									<table id="datatable-responsive"
										class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
										cellspacing="0" width="100%" role="grid"
										aria-describedby="datatable-responsive_info"
										style="width: 100%;">
										<thead>
											<tr role="row">
												<th class="sorting_desc" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 187px;"
													aria-label="Start date: activate to sort column ascending"
													aria-sort="descending">투입날짜</th>

												<th class="sorting" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 120px;"
													aria-label="Age: activate to sort column ascending">급여량(kg)
												</th>


											</tr>
										</thead>
										<tbody>
											<tr th:unless="${feedList == null}" th:each="l : ${feedList}">
												<td th:text="${l.feedingDate}"></td>
												<td th:text="${l.feedingAmount}"></td>
											</tr>

										</tbody>
									</table>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</th:block>
</html>