<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">

<head>
<style type="text/css">
.dataTables_length {
  display: none;
}

</style>
	<th:block layout:fragment="customJs">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.0/chart.min.js" integrity="sha512-R60W3LgKdvvfwbGbqKusRu/434Snuvr9/Flhtoq9cj1LQ9P4HFKParULqOCAisHk/J4zyaEWWjiWIMuP13vXEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>
			$('#datatable-responsive').DataTable({
				searching: false // search 기능을 비활성화
			});
			$.ajax({
				url: '/farm/feedGraph',
				method: 'GET',
				data: { cycleCode: "[[${cycleCode}]]" },  // 실제 cycleCode 값으로 교체해야 합니다.
				success: function(data) {
					var ctx = document.getElementById('lineChart').getContext('2d');
					new Chart(ctx, {
						type: 'line',
						data: {
							labels: data.map(feed => feed.feedingDate),
							datasets: [{
								label: 'Feeding Amount',
								data: data.map(feed => feed.feedingAmount),
								backgroundColor: 'rgba(75, 192, 192, 0.2)',
								borderColor: 'rgba(84, 123, 136, 1)',
								borderWidth: 3,
								tension: 0.4,  // Add this line to make the line smoother
								fill: true
							}]
						},
						options: {
							scales: {
								yAxes: [{
									ticks: {
										beginAtZero: true
									}
								}]
							}
						}
					});
				}
			});
		</script>
	</th:block>
</head>
<th:block layout:fragment="customContent">
	<div class="x_panel">
		<div class="x_title">
			<h2>먹이 급여 조회</h2>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6  ">
				<div class="x_panel">
					<div class="x_title">
						<h2>먹이 급여 그래프</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
					<!--		그래프		-->
						<iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
						<canvas id="lineChart" width="765" height="382" style="width: 765px; height: 382px;"></canvas>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-sm-6  ">
			<!--급여 테이블-->
				<table id="datatable-responsive"
					   class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline"
					   cellspacing="0" width="100%" role="grid"
					   aria-describedby="datatable-responsive_info"
					   style="width: 100%;">
					<thead>
					<tr role="row">
						<th>투입날짜</th>
						<th>급여량(kg)</th>
					</tr>
					</thead>
					<tbody>
					<tr th:unless="${feedList == null}" th:each="l : ${feedList}">
						<td th:text="${l.feedingDate}"></td>
						<td th:text="${l.feedingAmount}"></td>
					</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

</th:block>
</html>