<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<style>
#salesUnit {
	position: absolute;
	z-index: 1;
	right: 50px;
	top: 10px;
	opacity: .7;
}
</style>
</head>
<th:block layout:fragment="customJs">
	<script src="../vendors/dropzone/dist/min/dropzone.min.js"></script>
	<script>
		console.log('hi');
		$(function() {
			
		})
		Dropzone.autoDiscover = false; // deprecated 된 옵션. false로 해놓는걸 공식문서에서 명시
		var myDropzone = new Dropzone(
				"#myDropzone",
				{
					url : "/farm/menteeApply",
					paramName : "file",
					maxFilesize : 30, // Maximum file size in MB
					maxFiles : 5, // Maximum number of files
					acceptedFiles : ".jpeg, .jpg, .png, .hwp, .hwpx, .pdf, .doc, .docx, .JPEG, .JPG, .PNG, .HWP, HWPX, .PDF, .DOC, .DOCX", // Allowed file types
					dictDefaultMessage : "Drop files here or click to upload",
					autoProcessQueue : false,
					clickable : true,
					autoQueue : true,
					uploadMultiple : true,
					parallelUploads : 100,
					init : function() {
						myDropzone = this;
						
						$('#mentee-apply-form-btn').click(function(e){
							e.preventDefault();
							e.stopPropagation();
							myDropzone.processQueue();
						})
						
						this.on("success", function(file, response) {
							console.log(response);
						});

						this.on("error", function(file, errorMessage) {
							console.log(errorMessage);
						});
					}
				});
	</script>
</th:block>
<body>
	<th:block layout:fragment="customContent">
		<div class="row">
			<div class="col-md-9 col-sm-9" style="margin: 0px auto;">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							동애등에 사육장 <small>멘티 신청</small>
						</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br>
						<div class="item form-group" style="margin-bottom: 40px;">
							<label class="col-form-label col-md-3 col-sm-3 label-align"
								for="previous-year-sales">작년 매출 </label>
							<div class="col-md-6 col-sm-6 ">
								<span id="salesUnit">억</span> <input form="myDropzone" type="number"
									id="previous-year-sales" name="previousYearSales" min="0" required="required"
									class="form-control" style="position: relative;">
							
							</div>
						</div>
						<p>매출을 증명할 수 있는 파일을 제출해주세요. 예) 세금계산서, 부가세 과세표준증명 등.</p>
						<p>허용되는 파일 포멧</p>
						<ul>
							<li>.jpeg,.jpg,.png,.hwp,.hwpx,.pdf,.doc,.docx</li>
						</ul>
						<form id="myDropzone" enctype="multipart/form-data" class="dropzone">
							<div class="dz-default dz-message">
								<i class="fa fa-cloud-upload fa-5x"
									style="display: block; margin: 0 auto; margin-top: 100px;"></i>
								<span>여기에 파일을 드롭하여 업로드하세요</span>
							</div>
						</form>
						<div class="ln_solid"></div>
						<div class="item form-group">
							<div class="col-md-6 col-sm-6 offset-md-3">
								<button form="mentee-apply-form" class="btn btn-primary"
									type="button">Cancel</button>
								<button form="mentee-apply-form" class="btn btn-primary"
									type="reset">Reset</button>
								<button form="myDropzone" id="mentee-apply-form-btn"
									type="submit" class="btn btn-success">Submit</button>
							</div>
						</div>
						<br> <br> <br> <br>

					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>