<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<style>
#salesUnit {
	position: absolute;
	z-index: 1;
	right: 50px;
	top: 10px;
	opacity: .7;
}
</style>
<link href="../vendors/dropzone/dist/min/dropzone.min.css"
	rel="stylesheet">
</head>
<body>
	<th:block layout:fragment="customContent">
		<div class="row">
			<div class="col-md-9 col-sm-9" style="margin: 0px auto;">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							동애등에 사육장 <small>멘티 신청</small>
						</h2>
						<ul class="nav navbar-right panel_toolbox">
							<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false"><i class="fa fa-wrench"></i></a>
								<ul class="dropdown-menu" role="menu">
									<li><a class="dropdown-item" href="#">Settings 1</a></li>
									<li><a class="dropdown-item" href="#">Settings 2</a></li>
								</ul></li>
							<li><a class="close-link"><i class="fa fa-close"></i></a></li>
						</ul>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br>
						<form id="demo-form2" data-parsley-validate=""
							class="form-horizontal form-label-left" novalidate="">
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="previous-year-sales">작년 매출 </label>
								<div class="col-md-6 col-sm-6 ">
									<span id="salesUnit">천 만원</span> <input type="number"
										id="previous-year-sales" required="required"
										class="form-control" style="position: relative;">

								</div>
							</div>
							<div class="item form-group">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="career-year">경력 (년) </label>
								<div class="col-md-6 col-sm-6 ">
									<input type="number" id="career-year" name="careerYear"
										required="required" class="form-control">
								</div>
							</div>
							<div class="item form-group" style="margin-bottom: 40px;">
								<label class="col-form-label col-md-3 col-sm-3 label-align"
									for="career-month">경력 (개월) </label>
								<div class="col-md-6 col-sm-6 ">
									<input type="number" id="career-month" name="careerMonth"
										required="required" class="form-control">
								</div>
							</div>
						</form>

						<p>Drag multiple files to the box below for multi upload or
							click to select files. This is for demonstration purposes only,
							the files are not uploaded to any server.</p>
						<form action="form_upload.html" class="dropzone dz-clickable">
							<div class="dz-default dz-message">
								<span>Drop files here to upload</span>
							</div>
						</form>
						<div class="ln_solid"></div>
						<div class="item form-group">
							<div class="col-md-6 col-sm-6 offset-md-3">
								<button class="btn btn-primary" type="button">Cancel</button>
								<button class="btn btn-primary" type="reset">Reset</button>
								<button type="submit" class="btn btn-success">Submit</button>
							</div>
						</div>
						<br> <br> <br> <br>

					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
<th:block layout:fragment="customJs">
	<script src="../vendors/dropzone/dist/min/dropzone.min.js"></script>
</th:block>

</html>