<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block layout:fragment="customJs">
	<script>
		let openNewTab = function(event, mentorContractRegCode){
			console.log(event);
			console.log(mentorContractRegCode);
			
			window.open(`/farm/mentorMenteeContractDetail?mentorContractRegCode=${mentorContractRegCode}`, "_blank");
		}
	</script>
		
	</th:block>
	<th:block layout:fragment="customContent">
		<div class="col-md-12 col-sm-12 ">
			<div class="x_panel">
				<div class="x_title">
					<h2>멘토멘티 공고조회</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false"><i
								class="fa fa-wrench"></i></a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Settings 1</a> <a
									class="dropdown-item" href="#">Settings 2</a>
							</div></li>
						<li><a class="close-link"><i class="fa fa-close"></i></a></li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box table-responsive">
								<div id="datatable-checkbox_wrapper"
									class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
									<div class="row">
										<div class="col-sm-12">
											<table id="datatable-checkbox"
												class="table table-striped table-bordered bulk_action dataTable no-footer"
												style="width: 100%" role="grid"
												aria-describedby="datatable-checkbox_info">
												<thead>
													<tr role="row">
														<th class="sorting_desc" tabindex="0"
															aria-controls="datatable-checkbox" rowspan="1"
															colspan="1" aria-sort="descending"><input
															type="checkbox" id="check-all"></th>
														<th class="sorting" tabindex="0"
															aria-controls="datatable-checkbox" rowspan="1"
															colspan="1" >업체명</th>
														<th class="sorting" tabindex="0"
															aria-controls="datatable-checkbox" rowspan="1"
															colspan="1" >계약 개월수</th>
														<th class="sorting" tabindex="0"
															aria-controls="datatable-checkbox" rowspan="1"
															colspan="1" >경력</th>
														<th class="sorting" tabindex="0"
															aria-controls="datatable-checkbox" rowspan="1"
															colspan="1" >총 계약 비용(만원)</th>

													</tr>
												</thead>
												<tbody>
													<th:block th:each="m : ${mmContractInfo}"
														th:if="${mmContractInfo != null}">

														<tr role="row" class="odd">
															<th class="sorting_1"><input type="checkbox"
																id="check-all"></th>
															<td th:text=${m.companyName}></td>
															<td colspan="1">
																<div>
																	<a id="contract_new_tab" th:mentorContractRegCode="${m.mentorContractRegCode}" th:onclick="openNewTab(event, this.getAttribute('mentorContractRegCode'))" ><strong th:text=${m.mentorContractTitle}></strong></a>
																	<p>
																		<span th:text="${'계약 개월수: ' + m.contractPeriod + '개월'}"></span> | 
																		<span th:text="${m.companyAddr}"></span>
																	</p>
																</div>
															</td>
															<td th:text="${m.careerYear + '년 ' + m.careerMonth + '개월'}"></td>
															<td th:text="${m.contractCost}"></td>
														</tr>
														<!-- <tr role="row" class="even">

															<td th:text="${m.contractPeriod}"></td>
															<td th:text="${m.totalVisitation}"></td>
															<td th:text="${m.monthVisitation}"></td>
															<td th:text="${m.contractCost}"></td>
															<td th:text="${m.careerYear + '년' + m.careerMonth + '월'}"></td>
															<td th:text="${m.companyAddr}"></td>
															<td th:text="${m.previousYearSales}"></td>
														</tr> -->
													</th:block>

													<tr role="row" class="odd"
														th:unless="${mmContractInfo != null}">
														<td colspan="8">멘토멘티 신청여부가 존재하지 않습니다.</td>
													</tr>

												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</th:block>
</body>
</html>