<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ks46team02.topmenu.mapper.TopMenuMapper">
<resultMap type="QuestionTypeDto" id="questionTypeDtoMap">
	<id column="question_type_code" property="questionTypeCode"></id>
	<result column="question_type_name" property="questionTypeName"></result>
</resultMap>
	<select id="getTopMenuCustomerServiceList"
		resultMap="questionTypeDtoMap">
		/* 탑 메뉴의 customerservice의 정보리스트 조회 */
		SELECT 
			question_type_code, 
			question_type_name
		FROM 
			question_type
		WHERE question_type_code IN (4, 5)
		ORDER BY question_type_code;
	</select>
</mapper>	 	

