<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="menu_section" th:fragment="memberInfo">
	<h3>회원</h3>
	<ul class="nav side-menu">
		<li><a><i class="fa fa-edit"></i> 내 정보 수정 <span
				class="fa fa-chevron-down"></span></a>
			<ul class="nav child_menu">
				<li><a href="#">#회원정보 수정</a></li>
			</ul></li>
	</ul>
</div>
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
	 th:fragment="myPageSidebarFragmentDry">
	<!-- 회원 -->
	<div th:replace="~{fragments/sidebar :: memberInfo}"></div>
	<div class="menu_section">
		<h3>음식물 건조업체</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-building-o"></i> 업체관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/company/companyInfoUser}">!최학준 내 업체 정보</a></li>
					<li><a th:href="@{/company/companyEmployeeList}">!최학준 사원 조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-file-text-o"></i> 계약 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">#최학준 건조음식물 계약 공고</a></li>
					<li><a href="#">#최학준 건조음식물 계약 공고 등록</a></li>
					<li><a href="#">#최학준 신청한 계약 조회</a></li>
				</ul></li>
		</ul>
	</div>


</div>
<!-- ------------------------------------------------------------------------------ -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
	 th:fragment="myPageSidebarFragmentFarm">
	<!-- 회원 -->
	<div th:replace="~{fragments/sidebar :: memberInfo}"></div>
	<div class="menu_section">
		<h3>동애등에 업체</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-building-o"></i> 업체관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/company/companyInfoUser}">!최학준 내 업체 정보</a></li>
					<li><a th:href="@{/company/companyEmployeeList}">!최학준 사원 조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-file-text-o"></i> 계약 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">#최학준 동애등에 계약 공고</a></li>
					<li><a href="#">#최학준 동애등에 계약 공고 등록</a></li>
					<li><a href="#">#최학준 신청한 건조업체 계약조회</a></li>
					<li><a href="#">#최학준 신청한 구매업체 계약조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-bar-chart-o"></i> 매출조회 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">#일별 매출 조회</a></li>
					<li><a href="#">#년/월별 매출 조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-line-chart"></i> 시각적 통계 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">#일별 매출 조회</a></li>
					<li><a href="#">#년/월별 매출 조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-bug"></i> !김유진 김사육장 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/farm/test}">! 그래프</a></li>
					<li><a th:href="@{/farm/farmList}">!김유진 사육장 조회</a></li>
					<li><a th:href="@{/farm/productionList}">!김유진 생산량 조회</a></li>
					<li><a th:href="@{/farm/cageList}">!김유진 케이지 조회</a></li>
					<li><a th:href="@{/farm/cycleList}">!김유진 싸이클 조회</a></li>
					<li><a th:href="@{/farm/feedList}">!김유진급여량 조회</a></li>
				</ul></li>
		</ul>
	</div>
	<div class="menu_section">
		<h3>멘토멘티 (멘토) 나중에 조건문으로 처리</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-user-plus"></i> 멘토멘티 신청 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">

					<li><a th:href="@{/farm/mentorMentee}">!박민서 멘토멘티 신청</a></li>
					<li><a href="/farm/mentorMenteeRegisterStatus">!박민서 승인 여부조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-users"></i> 멘토멘티 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/farm/mentorMenteeContract">!박민서 멘토멘티 공고 조회</a></li>
					<li><a href="/farm/myMentorMenteeContractMentor">!박민서 나의 멘토멘티 공고 조회</a></li>
					<li><a href="/farm/registerMentorMenteeContract">!박민서 멘토멘티 공고 등록</a></li>
					<li><a href="/farm/mentorMenteeContractApprove">!박민서 승인대기 멘토멘티 계약조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-clipboard"></i> 멘티 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/farm/mmMyMenteeList">!박민서 멘티 조회</a></li>
				</ul></li>
		</ul>
	</div>
	<div class="menu_section">
		<h3>멘토멘티 (멘티)</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-user-plus"></i> 멘토멘티 신청 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/farm/mentorMentee}">!박민서 멘토멘티 신청</a></li>
					<li><a href="/farm/mentorMenteeRegisterStatus">!박민서 승인 여부조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-users"></i> 멘토멘티 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/farm/mentorMenteeContract">!박민서 멘토멘티 공고 조회</a></li>
					<li><a href="/farm/myMentorMenteeContractMentee">!박민서 나의 멘토 계약 조회</a></li>
					<li><a href="/farm/mentorMenteeFeedbackMentee">!박민서 방문평가 조회</a></li>
				</ul></li>
		</ul>
	</div>
</div>
<!-- --------------------------------------------------------------------------------- -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
	 th:fragment="myPageSidebarFragmentBuyer">
	<!-- 회원 -->
	<div th:replace="~{fragments/sidebar :: memberInfo}"></div>
	<div class="menu_section">
		<h3>구매업체</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-building-o"></i> 업체관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/company/companyInfoUser}">!최학준 내 업체 정보</a></li>
					<li><a th:href="@{/company/companyEmployeeList}">!최학준 사원 조회</a></li>
				</ul></li>
			<li><a><i class="fa fa-file-text-o"></i> 계약 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">#최학준 계약조회</a></li>
				</ul></li>
		</ul>
	</div>
</div>
<!-- --------------------------------------------------------------------------- -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
	 th:fragment="myPageSidebarFragmentNewMember">
	<!-- 회원 -->
	<div th:replace="~{fragments/sidebar :: memberInfo}"></div>
	<div class="menu_section">
		<h3>업체관리</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-building-o"></i> 업체 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">#최학준 업체 사원등록</a></li>
					<li><a th:href="@{/company/addCompanyIntro}">#최학준 업체 등록</a></li>
					<li><a th:href="@{/company/companyInfoUser}">#최학준 업체 신청 현황</a></li>
				</ul></li>
		</ul>
	</div>

</div>
<!-- ----------------------------------------------------------------------------------- -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu"
	 th:fragment="myPageSidebarFragmentAdmin">
	<!-- 회원 -->
	<div th:replace="~{fragments/sidebar :: memberInfo}"></div>
	<div class="menu_section">
		<h3>관리자</h3>
		<ul class="nav side-menu">
			<li><a><i class="fa fa-cogs"></i> 관리자 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/admin/adminList}">!최봉준 관리자 관리</a></li>
					<li><a th:href="@{/admin/withdrawalAdminList}">!최봉준 탈퇴한 관리자 관리</a></li>
					<li><a th:href="@{/admin/adminLevelList}">! 최봉준 관리자 등급 관리</a></li>
				</ul></li>
			<li><a><i class="fa fa-users"></i> 회원관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/admin/memberList}">! 최봉준 등록 된 회원관리</a></li>
					<li><a th:href="@{/admin/dormantMemberList}">! 최봉준 휴면 회원 관리</a></li>
					<li><a th:href="@{/admin/memberLevelList}">! 직원별 권한 관리</a></li>
					<li><a th:href="@{/admin/addrList}">!최봉준 배송지 관리</a></li>
					<li><a th:href="@{/admin/loginHistoryList}">! 최봉준 로그인 기록 관리</a></li>
					<li><a th:href="@{/admin/withdrawalMemberList}">!최봉준 탈퇴 회원 관리</a></li>
				</ul></li>
			<li><a><i class="fa fa-users"></i> 승인 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/admin/contractStandardList}">승인 기준 관리</a></li>
					<li><a th:href="@{/admin/applyCompanyRegList}">#최학준 업체등록신청 목록</a></li>
					<li><a href="#">멘토 멘티 승인</a></li>
					<li><a href="#">계약 승인</a></li>
				</ul></li>
			<li><a><i class="fa fa-question-circle"></i> 플랫폼 문의 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/customerservice/questionlist}">#문의 내역 관리</a></li>
					<li><a th:href="@{/customerservice/answerlist}">#문의 답변 관리</a></li>
					<li><a th:href="@{/customerservice/questiontypelist}">#문의 유형 목록 관리(카테고리 등록)</a></li>
				</ul></li>
			<li><a><i class="fa fa-building-o"></i> 업체 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a th:href="@{/company/companyList}">!최학준 업체관리</a></li>
					<li><a th:href="@{/company/companyTypeList}">!최학준 업체 종류 관리</a></li>
					<li><a th:href="@{/company/companyEmployeeLevel}">!최학준 업체별 사원 등급 관리</a></li>
					<li><a th:href="@{/company/companyProductCategory}">!최학준 사육장 제품 카테고리 관리</a></li>
				</ul></li>
			<li><a><i class="fa fa-file-text-o"></i> 계약 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">#계약 승인 기준관리</a></li>
					<li><a th:href="@{/contract/contractList}">!최학준 계약 공고 관리</a></li>
					<li><a href="#">#계약 파기사유 관리</a></li>
					<li><a href="#">#계약 결제 관리</a></li>
					<li><a href="#">#계약 환불 관리</a></li>
					<li><a href="#">#계약 수단 관리</a></li>
				</ul></li>
			<li><a><i class="fa fa-users"></i> 멘토멘티 관리 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="/admin/mentorRegManageList">#멘토 신청 관리</a></li>
					<li><a href="/admin/menteeRegManageList">#멘티 신청 관리</a></li>
					<li><a href="#">#멘토 방문 기록 관리</a></li>
					<li><a href="#">#멘토 평가 결과 기록 관리</a></li>
					<li><a href="#">#멘토 멘티 평가 대분류 관리</a></li>
					<li><a href="#">#멘토 평가 세부항목 관리</a></li>
					<li><a href="#">#멘토 평가 평가 기준관리</a></li>
				</ul></li>
			<li><a><i class="fa fa-bug"></i> 사육장 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">#상태에 따른 계산단위 기준 관리</a></li>
					<li><a href="#">#사육장 관리</a></li>
					<li><a href="#">#사육장별 상태 기록 관리</a></li>
					<li><a href="#">#사육장 케이지 예상 생산량 관리</a></li>
					<li><a href="#">#생산량 관리</a></li>
					<li><a href="#">#음식물 투입 사료 관리</a></li>
				</ul></li>
			<li><a><i class="fa fa-globe"></i> 환경개선량 <span
					class="fa fa-chevron-down"></span></a>
				<ul class="nav child_menu">
					<li><a href="#">#환경개선량 관리</a></li>
				</ul></li>
		</ul>
	</div>
</div>
</html>