<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="navRightAfterLogin">
	<ul class=" navbar-right">
		<li class="nav-item dropdown open" style="padding-left: 15px;"><a
			href="javascript:;" class="user-profile dropdown-toggle"
			aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown"
			aria-expanded="false"> <img th:src="@{/images/img.jpg}" alt="">
				<span th:text='|${session.sessionName+"님"}|'></span>
		</a>
			<div class="dropdown-menu dropdown-usermenu pull-right"
				aria-labelledby="navbarDropdown">
				<a class="dropdown-item" th:href="@{/mypage}">!박민서 마이페이지</a> <a
					class="dropdown-item" th:href="@{/logout}"> <i
					class="fa fa-sign-out pull-right"></i>!박민서 로그아웃
				</a>
			</div></li>


	</ul>
</th:block>
<th:block th:fragment="navRightBeforeLogin">
	<div class="navigation-right"
		style="display: flex; align-items: center; margin-right: 80px;">
		<div style="margin-right: 30px;">
			<a th:href="@{/login}">박민서 로그인</a>
		</div>
		<div>
			<a th:href="@{/signUp}">!박민서 회원가입</a>
		</div>
	</div>
</th:block>
<div class="top_nav" th:fragment="topNaviFragment">
	<div class="nav_menu">
		<div class="nav toggle">
			<a id="menu_toggle"><i class="fa fa-bars"></i></a>
		</div>
		<nav class="nav navbar-nav" style="flex-direction: row;">
			<div class="navigation-main"
				style="display: flex; align-items: center; margin-right: auto">
				<div class="navigation-main-inner"
					style="display: flex; align-items: center; margin-right: auto">
					<ul class="main-menu"
						style="display: flex; flex-direction: row; list-style: none; align-content: center; margin: 0px; justify-content: space-between;">
						<th:block th:fragment="top-menu-community">
								<li><a href="#">#플랫폼 소개</a></li>

								<li role="presentation" class="dropdown"><a id="drop4"
									href="#" class="dropdown-toggle" data-toggle="dropdown"
									aria-haspopup="true" role="button" aria-expanded="false">
										#고객센터 <span class="caret"></span>
								</a>
									<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
										x-placement="top-start"
										style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -129px, 0px);">
										<th:block th:fragment="menu" th:each="item: ${session.topMenuList}">
											<a class="dropdown-item"
												th:href="@{/customerservice/main(questionTypeCode=${item.questionTypeCode})}"
												th:text="${item.questionTypeName}"></a>
										</th:block>

									</div></li>
							</th:block>

							<li role="presentation" class="dropdown"><a id="drop4"
								href="#" class="dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" role="button" aria-expanded="false">
									#계약 찾기 <span class="caret"></span>
							</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
									x-placement="top-start"
									style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -129px, 0px);">
									<a class="dropdown-item" href="#">#멘토멘티 계약찾기</a> <a
										class="dropdown-item" href="#">#건조업체 계약찾기</a> <a
										class="dropdown-item" href="#">#동애등에 계약찾기</a>
								</div></li>

						</th:block>
					</ul>

				</div>

			</div>
			<th:block th:if="${session.sessionId == null}">
				<div th:replace="~{fragments/topNavi :: navRightBeforeLogin}"></div>
			</th:block>
			<th:block th:unless="${session.sessionId == null}">
				<div th:replace="~{fragments/topNavi :: navRightAfterLogin}"></div>
			</th:block>

		</nav>
	</div>
</div>
<!-- ------------------------------------------------------------------------------------------------------ -->
<div class="top_nav" th:fragment="topNaviFragment2"
	style="margin-left: 0px;">
	<div class="nav_menu">

		<nav class="nav navbar-nav" style="flex-direction: row;">
			<div class="navbar nav_title" style="border: 0; background: #ECF0F1">
				<a href="/" class="site_title" style="color: #2A3F54 !important"><i
					class="fa fa-paw"></i> <span>v2_04272023_0948</span></a>
			</div>
			<div class="navigation-main"
				style="display: flex; align-items: center; margin-right: auto">
				<div class="navigation-main-inner"
					style="display: flex; align-items: center; margin-right: auto">
					<ul class="main-menu"
						style="display: flex; flex-direction: row; list-style: none; align-content: center; margin: 0px; justify-content: space-between;">



						<th:block th:fragment="top-menu-community">
							<li><a href="#">#플랫폼 소개</a></li>

							<li role="presentation" class="dropdown"><a id="drop4"
								href="#" class="dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" role="button" aria-expanded="false">
									#고객센터 <span class="caret"></span>
							</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
									x-placement="top-start"
									style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -129px, 0px);">
									<th:block th:fragment="menu" th:each="item: ${session.topMenuList}">
										<a class="dropdown-item"
											th:href="@{/customerservice/main(questionTypeCode=${item.questionTypeCode})}"
											th:text="${item.questionTypeName}"></a>
									</th:block>
								</div></li>


							<li role="presentation" class="dropdown"><a id="drop4"
								href="#" class="dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" role="button" aria-expanded="false">
									#계약 찾기 <span class="caret"></span>
							</a>
								<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
									x-placement="top-start"
									style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -129px, 0px);">
									<a class="dropdown-item" href="#">#멘토멘티 계약찾기</a> <a
										class="dropdown-item" href="#">#건조업체 계약찾기</a> <a
										class="dropdown-item" href="#">#동애등에 계약찾기</a>
								</div></li>
						</th:block>
					</ul>

				</div>

			</div>
			<th:block th:if="${session.sessionId == null}">
				<div th:replace="~{fragments/topNavi :: navRightBeforeLogin}"></div>
			</th:block>
			<th:block th:unless="${session.sessionId == null}">
				<div th:replace="~{fragments/topNavi :: navRightAfterLogin}"></div>
			</th:block>


		</nav>
	</div>
</div>
</html>