<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ks46team02.customerservice.mapper.CustomerServiceListMapper">
	<resultMap type="QuestionDto" id="questionListResultMap">
		<id column="question_code" property="questionCode" />
		<result column="question_title" property="questionTitle" />
		<result column="question_type_name" property="questionTypeName" />
		<result column="question_content" property="questionContent" />
		<result column="question_file" property="questionFile" />
		<result column="member_id" property="memberId" />
		<result column="question_type_code" property="questionTypeCode" />
		<result column="question_status" property="questionStatus" />
		<result column="question_reg_date" property="questionRegDate" />
		<result column="question_modify_date"
			property="questionModityDate" />
		<result column="question_del_date" property="questionDelDate" />
		<result column="question_del_yn" property="questionDelYN" />
	</resultMap>
	<resultMap type="AnswerDto" id="answerListResultMap">
		<id column="answer_code" property="answerCode" />
		<result column="question_code" property="questionCode" />
		<result column="answer_title" property="answerTitle" />
		<result column="answer_content" property="answerContent" />
		<result column="answer_file" property="answerFile" />
		<result column="question_status" property="questionStatus" />
		<result column="admin_id" property="adminId" />
		<result column="answer_reg_date" property="answerRegDate" />
		<result column="answer_modify_date" property="answerModityDate" />
		<result column="answer_del_date" property="answerDelDate" />
		<result column="answer_del_yn" property="answerDelYN" />
	</resultMap>
	<resultMap type="QuestionTypeDto"
		id="questiontypeListResultMap">
		<id column="question_type_code" property="questionTypeCode" />
		<result column="question_type_name" property="questionTypeName" />
		<result column="admin_id" property="adminId" />
		<result column="question_type_reg_date"
			property="questionTypeRegDate" />
		<result column="quesiton_type_modify_date"
			property="questionTypeModifyDate" />
		<result column="question_type_del_date"
			property="questionTypeDelDate" />
	</resultMap>

	<select id="getQuestionList" resultMap="questionListResultMap">
		/* 문의 조회 */
		SELECT
		question_code
		,question_type_code
		,question_title
		,question_content
		,question_file
		,member_id
		,question_reg_date
		,question_status
		FROM
		question
		WHERE
		question_del_yn = 'N'
		ORDER BY
		question_reg_date DESC;
	</select>

	<select id="getQuestionByCode" parameterType="String"
		resultMap="questionListResultMap">
		/* 답변 세부내용 조회 */
		SELECT
		q.question_code,
		qt.question_type_name,
		q.question_title,
		q.question_content,
		q.question_file,
		q.member_id,
		q.question_status,
		q.question_reg_date
		FROM
		question q
		INNER JOIN question_type qt ON q.question_type_code =
		qt.question_type_code
		WHERE
		question_code = #{questionCode}
		ORDER BY
		question_code;
	</select>

	<insert id="addAnswer" parameterType="answerDto">
		<selectKey keyProperty="answerCode" order="BEFORE"
			resultType="String">
			select sf_new_answer_code() as answerCode;
		</selectKey>
		insert into
		answer ('answer_code', question_code, answer_title,
		answer_content,
		answer_file, admin_id, answer_reg_date)
		VALUES
		(#{answerCode}, #{questionCode}, #{answerTitle}, #{answerContent},
		#{answerFile}, #{adminId}, CURRENT_TIMESTAMP());
	</insert>

	<update id="modify_QuestionStatus" parameterType="questionDto">
		UPDATE
		question
		SET
		question_status = #{questionStatus}
		WHERE question_code = #{questionCode} and question_del_yn ='N';
	</update>
	


	<select id="getAnswerList" resultMap="answerListResultMap">
		/* 문의에 대한 답변 조회 */
		SELECT
		a.answer_code,
		a.question_code,
		a.answer_title,
		a.answer_content,
		a.answer_file,
		a.admin_id,
		a.answer_reg_date,
		a.answer_modify_date,
		a.answer_del_yn,
		a.answer_del_date,
		q.question_status
		FROM
		answer a
		JOIN
		question q
		ON a.question_code = q.question_code
		WHERE
		a.answer_del_yn =
		'N'
		ORDER BY
		a.answer_reg_date DESC;

	</select>

	<select id="getAnswerByCode" parameterType="String"
		resultMap="answerListResultMap">
		/* 답변 세부내용 조회 */
		select DISTINCT
		a.answer_code,
		a.answer_title,
		a.answer_content,
		a.answer_file,
		a.admin_id,
		q.question_status,
		a.answer_reg_date
		from
		answer a
		inner join
		question q
		on
		a.question_code = q.question_code
		where
		a.answer_code = #{answerCode};
	</select>

	<update id="updateAnswerDeleteStatus">
		UPDATE answer
		SET
		answer_del_yn = 'Y',
		answer_del_date =
		CURRENT_TIMESTAMP()
		WHERE
		answer_code = #{answerCode};
	</update>

	<update id="modifyAnswerList" parameterType="AnswerDto">
		UPDATE answer
		<set>
			<if test="answerTitle != null">
				answer_title = #{answerTitle},
			</if>
			<if test="answerContent != null">
				answer_content = #{answerContent},
			</if>
			<if test="answerFile != null">
				answer_file = #{answerFile}
			</if>
			<if test="answerModifyDate != null">
				answer_modify_date = CURRENT_TIMESTAMP()
			</if>
		</set>
		WHERE answer_code = #{answerCode} and answer_del_yn ='N';
	</update>

	<select id="getQuestionTypeList"
		resultMap="questiontypeListResultMap">
		/* 문의 유형 조회 */
		SELECT
		question_type_code
		,question_type_name
		,admin_id
		,question_type_reg_date
		,question_type_modify_date
		FROM
		question_type
		where question_type_del_yn ='N';
	</select>

	<!--int타입으로 들어오면 resultMap을 resultType과 동시에 사용 X -->
	<select id="getNextQuestionTypeCode" resultType="int">
		SELECT
		IFNULL(MAX(question_type_code)+1, 1) FROM question_type
		where
		question_type_del_yn='N';
	</select>

	<insert id="insertQuestionType" parameterType="QuestionTypeDto">
		INSERT INTO
		question_type (question_type_code, question_type_name, admin_id,
		question_type_reg_date)
		VALUES (#{questionTypeCode},
		#{questionTypeName}, #{adminId},
		NOW());
	</insert>

	<update id="updateQuestionType" parameterType="QuestionTypeDto">
		UPDATE
		question_type
		SET
		question_type_name = #{questionTypeName},
		question_type_modify_date = CURRENT_TIMESTAMP()
		WHERE
		question_type_code = #{questionTypeCode}
		AND question_type_del_yn ='N';
	</update>

	<delete id="deleteQuestionType" parameterType="int">
		DELETE FROM
		question_type
		WHERE question_type_code = #{questionTypeCode}
	</delete>

</mapper>
