<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="ks46team02.customerservice.mapper.CustomerServiceListMapper">
	<resultMap type="QuestionDto" id="questionListResultMap">
		<id column="question_code" property="questionCode" />
		<result column="question_title" property="questionTitle" />
		<result column="question_content" property="questionContent" />
		<result column="question_file" property="questionFile" />
		<result column="member_id" property="memberId" />
		<result column="question_type_code" property="questionTypeCode" />
		<result column="question_status" property="questionStatus" />
		<result column="question_reg_date" property="questionRegDate" />
		<result column="question_modify_date"
			property="questionModityDate" />
		<result column="question_del_date" property="questionDelDate" />
		<result column="question_del_yn" property="questionDelYN" />
	</resultMap>
	<resultMap type="AnswerDto" id="answerListResultMap">
		<id column="answer_code" property="answerCode" />
		<result column="question_code" property="questionCode" />
		<result column="answer_title" property="answerTitle" />
		<result column="answer_content" property="answerContent" />
		<result column="answer_file" property="answerFile" />
		<result column="admin_id" property="adminId" />
		<result column="answer_reg_date" property="answerRegDate" />
		<result column="answer_modify_date" property="answerModityDate" />
		<result column="answer_del_date" property="answerDelDate" />
		<result column="answer_del_yn" property="answerDelYN" />
	</resultMap>
	<resultMap type="QuestionTypeDto"
		id="questiontypeListResultMap">
		<id column="question_type_code" property="questionTypeCode" />
		<result column="question_type_name" property="questionTypeName" />
		<result column="admin_id" property="adminId" />
		<result column="question_type_reg_date"
			property="questionTypeRegDate" />
		<result column="quesiton_type_modify_date"
			property="questionTypeModifyDate" />
		<result column="question_type_del_date"
			property="questionTypeDelDate" />
	</resultMap>

	<select id="getQuestionList" resultMap="questionListResultMap">
		/* 문의 조회 */
		SELECT
		question_code
		,question_type_code
		,question_title
		,question_content
		,question_file
		,member_id
		,question_reg_date
		,question_status
		FROM
		question;
	</select>

	<select id="getAnswerList" resultMap="answerListResultMap">
		/* 문의에 대한 답변 조회 */
		SELECT
		answer_code
		,question_code
		,answer_title
		,answer_content
		,answer_file
		,admin_id
		,answer_reg_date
		,answer_modify_date
		,answer_del_yn
		,answer_del_date
		FROM
		answer;
	</select>

	<select id="getQuestionTypeList"
		resultMap="questiontypeListResultMap">
		/* 문의 유형 조회 */
		SELECT
		question_type_code
		,question_type_name
		,admin_id
		,question_type_reg_date
		,question_type_modify_date
		,question_type_del_date
		FROM
		question_type;
	</select>

	<!--  <insert id="writeQuestionType" parameterType="questionTypeDto">
		insert into
		question_type (question_type_code, admin_id, question_type_name,
		question_type_reg_date)
		VALUES (#{questionTypeCode}, #{adminId},
		#{questionTypeName},
		CURRENT_TIMESTAMP());
	</insert>-->

	<select id="getNextQuestionTypeCode" resultType="int"
		resultMap="questiontypeListResultMap">
		SELECT IFNULL(MAX(question_type_code), 0) + 1 FROM question_type;
	</select>

	 <insert id="writeQuestionType" parameterType="String">
		INSERT INTO question_type (question_type_code, question_type_name, admin_id,
		question_type_reg_date)
		VALUES (#{questionTypeCode}, #{questionTypeName}, #{adminId}, 
		NOW());
	</insert> 

</mapper>
