<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypageLayout}">
<head>
    <meta charset="UTF-8">
    <title>BSFP</title>
</head>

<th:block layout:fragment="customJs">
<script>
    // 사원 신청
    $(".apply").click(function (){
        (async () => {
            const { value: regPassword } = await Swal.fire({
                title: "사원등록 비밀번호를 입력해주세요.",
                text: "",
                input: "password",
            });
            const sessionId = "[[${session.sessionId}]]";
            var tr = $(this).closest('tr');
            var companyCode = tr.find('td:eq(0)').text();
            $.ajax({
                type: 'POST',
                url: '/company/regPassCheck',
                data: {
                    companyCode: companyCode
                },
                success: function (regPass) {
                    if (regPass==regPassword) {
                        Swal.fire({
                            title: "사원등록 하시겠습니까?",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "확인",
                            cancelButtonText: "취소",
                            reverseButtons: true,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    type: "POST",
                                    url: "/company/addEmployee",
                                    data: {
                                        memberId: sessionId,
                                        companyCode: companyCode,
                                    },
                                    success: function () {
                                        Swal.fire("사원등록이 완료되었습니다. 다시 로그인해주세요.");
                                        tr.remove();

                                    },
                                    error: function () {
                                        Swal.fire({
                                            icon: "error",
                                            title: "사원등록에 실패했습니다.",
                                            text: "다시 시도해 주세요.",
                                        });
                                    },
                                });
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "비밀번호가 일치하지 않습니다.",
                            text: "다시 확인후 입력해주시길 바랍니다.",
                        });
                    }
                },
            });
        })();
    });
</script>
</th:block>

<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2>업체목록</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">
                                    <div id="datatable-buttons_wrapper"
                                         class="dataTables_wrapper container-fluid dt-bootstrap no-footer">
                                        <table id="datatable-buttons"
                                               class="table table-striped table-bordered dataTable no-footer dtr-inline"
                                               style="width: 100%;" role="grid"
                                               aria-describedby="datatable-buttons_info">
                                            <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    style="width: 255px;"
                                                >업체코드
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    style="width: 387px;"
                                                >업체명
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    style="width: 199px;"
                                                >업체종류
                                                </th>
                                                <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                    style="width: 108px;"
                                                >대표자성명
                                                </th>
                                                <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                    style="width: 187px;"
                                                    aria-sort="descending">
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr role="row" class="odd" th:unless="${companyList == null}" th:if="${l.approvalStatus=='approved'}"
                                                th:each="l : ${companyList}">
                                                <td class="companyCode" th:text="${l.companyCode}"></td>
                                                <td th:text="${l.companyName}"></td>
                                                <td th:text="${l.companyType}"></td>
                                                <td th:text="${l.memberName}"></td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-secondary btn-sm apply">사원신청</button>
                                                </td>
                                            </tr>
                                            <tr th:if="${companyList == null}">
                                                <td colspan="5" class="text-center">등록된 업체가 없습니다.</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>