<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/mypage}">
<head>
    <meta charset="UTF-8">
    <title>BSFP</title>
</head>
<th:block layout:fragment="customJs">
    <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
    <script>
        $(function () {
            function validationCheck(ele) {
                let data = $(ele).val();
                let isValid = true;
                if (typeof data == 'undefined' || data == null || data == '') {
                    isValid = false;
                }
                return isValid;
            }

            $('#submitBtn').click(function () {
                const addCompanyForm = $('#addCompanyForm');
                const inputGroup = $('#addCompanyForm input');
                let isSubmit = true;
                inputGroup.each(function (idx, item) {
                    isSubmit = validationCheck(item);
                    if (!isSubmit) {
                        let msg = $(item).parents('tr').find('label').text();
                        alert(msg + '입력해주세요.');
                        $(item).focus();
                        return false;
                    }
                });
                if (isSubmit) addCompanyForm.submit();
            })

        });
    </script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

// 법정동명이 있을 경우 추가한다. (법정리는 제외)
// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
// 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

// 우편번호와 주소 정보를 해당 필드에 넣는다.

                    document.getElementById("companyAddrRoad").value = roadAddr;

                }

            }).open();
        }

    </script>
    <script>
        $('#resetBtn').click(function () {
            history.back();
        });
    </script>
</th:block>
<body>
<th:block layout:fragment="customContent">
    <div class="x_panel">
        <div class="x_title">
            <h1>업체등록</h1>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br/>
            <form id="addCompanyForm" class="form-horizontal form-label-left" th:action="@{/company/addCompany}"
                  method="post">
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 " for="companyType">업체종류</label>
                    <div class="col-md-9 col-sm-9 ">
                        <select id="companyType" name="companyTypeNum" class="form-control">
                            <option value="">업체종류선택</option>
                            <th:block th:unless="${companyTypeList == null}" th:each="l : ${companyTypeList}">
                                <option th:value="${l.companyTypeNum}">[[${l.companyType}]]</option>
                            </th:block>
                            <th:block th:if="${companyTypeList == null}">
                                <option>등록된 업체종류가 없습니다</option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " for="companyCode">업체코드(자동증가완성시 삭제예정)</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" id="companyCode" name="companyCode" class="form-control"
                               placeholder="업체코드를 입력해주세요">
                    </div>
                </div>
                <div class="form-group row ">
                    <label class="control-label col-md-3 col-sm-3 " for="companyRegNum">사업자등록번호</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" id="companyRegNum" name="companyRegNum" class="form-control"
                               placeholder="사업자등록번호를 입력해주세요.">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 " for="companyName">업체명</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" id="companyName" name="companyName" class="form-control"
                               placeholder="업체명을 입력해주세요">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 " for="companyTel">전화번호 </label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" id="companyTel" name="companyTel" class="form-control"
                               placeholder="전화번호를 입력해주세요.">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 ">업체주소(도로명)</label>
                    <div class="col-md-9 col-sm-3 input-group">
                        <input type="text" id="companyAddrRoad" name="companyAddr" class="form-control"
                               readonly="readonly">
                        <span class="input-group-btn">
                            <input type="button" class="btn btn-dark" onclick="sample4_execDaumPostcode()" value="주소찾기">
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 " for="companyAddrDetail">상세주소</label>
                    <div class="col-md-9 col-sm-3 input-group">
                        <input type="text" id="companyAddrDetail" name="companyAddrDetail" class="form-control"
                               >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-3 col-sm-3 " for="regPassword">사원등록 비밀번호</label>
                    <div class="col-md-9 col-sm-9 ">
                        <input type="text" id="regPassword" name="regPassword" class="form-control"
                               placeholder="사원등록 비밀번호를 입력해주세요."/>
                    </div>
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9  offset-md-3">
                        <button type="button" id="resetBtn" class="btn btn-dark">취소</button>
                        <button type="submit" id="submitBtn" class="btn btn-dark">등록</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</th:block>

</body>
</html>