<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage}">
<head>
    <meta charset="UTF-8">
    <title>BSFP</title>
</head>
<th:block layout:fragment="customJs">

</th:block>

<th:block layout:fragment="customContent">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>직원목록</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%" >
                                <thead>
                                <tr role="row" >
                                    <th>직위</th>
                                    <th>이름</th>
                                    <th>전화번호</th>
                                    <th>이메일</th>
                                    <div th:if="${sessionIsOwner == true}">
                                        <th></th>
                                    </div>

                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="odd" th:unless="${employeeList == null}" th:each="l : ${employeeList}" >
                                    <td th:text="${l.memberLevelName}"></td>
                                    <td th:text="${l.memberName}"></td>
                                    <td th:text="${l.memberPhone}"></td>
                                    <td th:text="${l.memberEmail}"></td>
                                    <td th:if="${sessionIsOwner == true}">
                                        <a th:href="@{/company/modifyEmployeeLevel(memberId=${l.memberId} ,memberName=${l.memberName})}">직원정보수정</a>
                                    </td>
                                </tr>
                                <tr th:if="${employeeList == null}">
                                    <td>등록된 직원이 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>