<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/mypage}">
<head>
    <meta charset="UTF-8">
    <title>BSFP</title>
</head>
<th:block layout:fragment="customJs">

</th:block>

<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2>업체수정</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="" action="" method="post" novalidate>
                        <span class="section">Company Modify</span>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">사업자등록번호</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control optional" name="contractPostCode"
                                       data-validate-length-range="5,15"
                                       type="text" required="required"/></div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">업체명</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control email" name="contractType" required="required"
                                       />
                            </div>
                        </div>
                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">업체주소</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control email" name="contractStartDate"
                                       data-validate-linked='email' required='required' /></div>
                        </div>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">업체종류</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control number" type="number" name="contractEndDate"
                                       required='required' readonly="readonly"></div>
                        </div>

                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align required">업체전화번호</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control date" name="contractApplyDate" required='required'
                                       ></div>
                        </div>


                        <div class="field item form-group">
                            <label class="col-form-label col-md-3 col-sm-3  label-align">사원등록비밀번호</label>
                            <div class="col-md-6 col-sm-6">
                                <input class="form-control" name="contractApplyCompany"
                                       required="required" />
                            </div>
                        </div>

                        <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                                <button class="btn-btn-dark" type="reset" th:onclick="|location.href='@{#}'|">수정취소</button>
                                <button class="btn-btn-dark" type="submit" th:onclick="|location.href='@{/company/company_modify}'|">수정완료</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>