<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/mypage}">
<head>
    <meta charset="UTF-8">
    <title>BSFP</title>
</head>
<th:block layout:fragment="customJs">

</th:block>

<th:block layout:fragment="customContent">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>업체관리</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr role="row">
                                    <th>업체코드</th>
                                    <th>사업자등록번호</th>
                                    <th>업체명</th>
                                    <th>업체주소</th>
                                    <th>업체종류</th>
                                    <th>업체전화번호</th>
                                    <th>업체등록신청아이디</th>
                                    <th>등록신청일</th>
                                    <th>승인여부</th>
                                    <th>승인일</th>
                                    <th>승인반려사유</th>
                                    <th>사원등록비밀번호</th>
                                    <th>사육업체등급</th>
                                    <th>사육장 수</th>
                                    <th>관리자아이디</th>
                                    <th>업체수정</th>
                                    <th>업체삭제</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="odd" >
                                    <td>con1</td>
                                    <td>Accountant33</td>
                                    <td>Tokyo</td>
                                    <td>3333333333333</td>
                                    <td>3333333333333</td>
                                    <td>3333333333333</td>
                                    <td>333333333333333</td>
                                    <td>3333333333333</td>
                                    <td>3333333333333</td>
                                    <td>3333333333333</td>
                                    <td>3333333333333</td>
                                    <td>3333333333333</td>
                                    <td>3333333333333</td>
                                    <td>2008/11/28</td>
                                    <td>$162,70033</td>
                                    <td>
                                        <a href="#">수정</a>
                                    </td>
                                    <td>
                                        <a href="#">삭제</a>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>