<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage}">
<head>
    <meta charset="UTF-8">
    <title>BSFP</title>
</head>
<th:block layout:fragment="customJs">
    <script>

        $(document).ready(function () {
            $('#datatable-responsive1').DataTable({
                searching: false // search 기능을 비활성화
            });
            $('#datatable-responsive2').DataTable({
                searching: false
            });
            $('#datatable-responsive3').DataTable({
                searching: false
            });
            $('#datatable-responsive4').DataTable({
                searching: false
            });


            var companyTypeNumber = "[[${companyTypeNum}]]";

            if(companyTypeNumber == 1) {
                // 건조업체계약공고 이외의 탭 숨기기
                $('#breed-tab').hide();
                $('#mentor-tab').hide();
                $('#all-tab').hide();
                // 건조업체계약공고 탭 활성화
                $('#myTab a[href="#dry"]').tab('show');
            } else if(companyTypeNumber == 2) {
                $('#dry-tab').hide();
                $('#all-tab').hide();
                // 건조업체계약공고 탭 활성화
                $('#myTab a[href="#breed"]').tab('show');
            } else if(companyTypeNumber == 3) {
                $('#dry-tab').hide();
                $('#mentor-tab').hide();
                $('#all-tab').hide();
                // 건조업체계약공고 탭 활성화
                $('#myTab a[href="#breed"]').tab('show');
            }
        });



    </script>
</th:block>

<th:block layout:fragment="customContent">
    <div class="x_panel">
        <div class="x_title">
            <h2>계약목록</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist" >
                <li class="nav-item" id="dry-tab">
                    <a class="nav-link active"  data-toggle="tab" href="#dry" role="tab"
                       >건조업체계약공고</a>
                </li>
                <li class="nav-item" id="breed-tab">
                    <a class="nav-link"  data-toggle="tab" href="#breed" role="tab" >사육업체계약공고</a>
                </li>
                <li class="nav-item" id="mentor-tab" >
                    <a class="nav-link" data-toggle="tab" href="#mentor" role="tab"
                       >멘토멘티계약공고</a>
                </li>
                <li class="nav-item" id="all-tab">
                    <a class="nav-link"  data-toggle="tab" href="#all" role="tab"
                       >모든계약</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="dry" role="tabpanel">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>건조업체 계약공고</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <table id="datatable-responsive1"
                                                   class="table table-striped table-bordered dt-responsive nowrap"
                                                   cellspacing="0" width="100%">
                                                <thead>
                                                <tr role="row">
                                                    <th>업체명</th>
                                                    <th>최소거래용량</th>
                                                    <th>최대거래용량</th>
                                                    <th>최소개월수</th>
                                                    <th>최대개월수</th>
                                                    <th>지역</th>
                                                    <th>등록일자</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr role="row" th:unless="${contractListDry == null}"
                                                    th:each="l :${contractListDry}">
                                                    <td><a th:href="@{/company/companyInfo(companyCode=${l.companyCode})}" th:text="${l.companyName}"></a></td>
                                                    <td th:text="${l.minAmount}"></td>
                                                    <td th:text="${l.maxAmount}"></td>
                                                    <td th:text="${l.minMonth}"></td>
                                                    <td th:text="${l.maxMonth}"></td>
                                                    <td th:text="${l.region}"></td>
                                                    <td th:text="${l.contractRegDate}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="breed" role="tabpanel">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>사육업체 계약공고</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <table id="datatable-responsive2"
                                                   class="table table-striped table-bordered text-center dt-responsive nowrap"
                                                   cellspacing="0" width="100%">
                                                <thead>
                                                <tr role="row">
                                                    <th>업체명</th>
                                                    <th>최소 계약량(kg)</th>
                                                    <th>최대 계약량(kg)</th>
                                                    <th>최소 개월수(월)</th>
                                                    <th>최대 개월수(월)</th>
                                                    <th>제품종류</th>
                                                    <th>계약단가(월)</th>
                                                    <th>업체지역</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr role="row" th:unless="${contractListBreed == null}"
                                                    th:each="l :${contractListBreed}">
                                                    <td><a th:href="@{/company/companyInfo(companyCode=${l.companyCode})}" th:text="${l.companyName}"></a></td>
                                                    <td th:text="${l.minAmount}"></td>
                                                    <td th:text="${l.maxAmount}"></td>
                                                    <td th:text="${l.minDate}"></td>
                                                    <td th:text="${l.maxDate}"></td>
                                                    <td th:text="${l.productName}"></td>
                                                    <td th:text="${l.monthPrice}"></td>
                                                    <td th:text="${l.breedLocal}"></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="mentor" role="tabpanel">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>멘토멘티 공고조회</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table id="datatable-responsive3"
                                                           class="table table-striped table-bordered bulk_action dataTable no-footer"
                                                           style="width: 100%" role="grid">
                                                        <thead>
                                                        <tr role="row">
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="datatable-checkbox" rowspan="1"
                                                                colspan="1">업체명
                                                            </th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="datatable-checkbox" rowspan="1"
                                                                colspan="1">계약 개월수
                                                            </th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="datatable-checkbox" rowspan="1"
                                                                colspan="1">경력
                                                            </th>
                                                            <th class="sorting" tabindex="0"
                                                                aria-controls="datatable-checkbox" rowspan="1"
                                                                colspan="1">총 계약 비용(만원)
                                                            </th>

                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <th:block th:each="m : ${mmContractInfo}"
                                                                  th:if="${mmContractInfo != null}">
                                                            <tr role="row" class="odd"
                                                                th:href="@{/farm/mentorMenteeContractDetail(mentorContractRegCode=${m.mentorContractRegCode})}">
                                                                <td th:text=${m.companyName}></td>
                                                                <td colspan="1">
                                                                    <div>
                                                                        <a class="contract_new_tab" target="_blank"
                                                                           th:name="${m.mentorContractRegCode}"
                                                                           th:href="@{/farm/mentorMenteeContractDetail(mentorContractRegCode=${m.mentorContractRegCode})}"><strong
                                                                                th:text=${m.mentorContractTitle}></strong></a>
                                                                        <p>
																		<span
                                                                                th:text="${'계약 개월수: ' + m.contractPeriod + '개월'}"></span>
                                                                            | <span th:text="${m.companyAddr}"></span>
                                                                        </p>
                                                                    </div>
                                                                </td>
                                                                <td
                                                                        th:text="${m.careerYear + '년 ' + m.careerMonth + '개월'}"></td>
                                                                <td th:text="${m.contractCost}"></td>
                                                            </tr>
                                                        </th:block>

                                                        <tr role="row" class="odd"
                                                            th:unless="${mmContractInfo != null}">
                                                            <td colspan="8">멘토멘티 신청여부가 존재하지 않습니다.</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="all" role="tabpanel">
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>모든계약</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-box table-responsive">
                                            <table id="datatable-responsive4"
                                                   class="table table-striped table-bordered dt-responsive nowrap datatable-responsive"
                                                   cellspacing="0" width="100%">
                                                <thead>
                                                <tr role="row">
                                                    <th>계약코드</th>
                                                    <th>계약종류</th>
                                                    <th>계약신청아이디</th>
                                                    <th>계약승인상태</th>
                                                    <th>계약신청업체코드</th>
                                                    <th>계약공고업체코드</th>
                                                    <th></th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr role="row" th:unless="${contractList == null}"
                                                    th:each="l :${contractList}"
                                                    th:switch="${companyTypeNum}">

                                                    <td th:text="${l.contractCode}"></td>
                                                    <td th:text="${l.contractType}"></td>
                                                    <td th:text="${l.memberId}"></td>
                                                    <td th:text="${l.contractApproval}"></td>
                                                    <td th:text="${l.contracteeCompanyCode}"></td>
                                                    <td th:text="${l.contractorCompanyCode}"></td>
                                                    <td>
                                                        <a class="btn btn-secondary btn-sm"
                                                           th:href="@{/contract/contractInfo(contractCode=${l.contractCode})}">계약상세보기</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</th:block>
</html>