<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage}">
<head>
    <meta charset="UTF-8">
    <title>BSFP</title>
</head>
<th:block layout:fragment="customJs">

</th:block>

<th:block layout:fragment="customContent">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>계약목록</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable-buttons" class="table table-bordered" style="width:100%">
                                <thead>
                                <tr role="row">
                                    <th>계약코드</th>
                                    <th>계약종류</th>
                                    <th>계약신청아이디</th>
                                    <th>계약승인상태</th>
                                    <th>계약신청업체코드</th>
                                    <th>계약공고업체코드</th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" th:unless="${contractList == null}" th:each="l :${contractList}"
                                    th:switch="${companyTypeNum}">
                                    <th:block th:case="1" th:if="${l.contractType == 'dry'}">
                                    <td th:text="${l.contractCode}"></td>
                                    <td th:text="${l.contractType}"></td>
                                    <td th:text="${l.memberId}"></td>
                                    <td th:text="${l.contractApproval}"></td>
                                    <td th:text="${l.contracteeCompanyCode}"></td>
                                    <td th:text="${l.contractorCompanyCode}"></td>
                                    <td>
                                        <a class="btn btn-secondary btn-sm" th:href="@{/contract/contractInfo(contractCode=${l.contractCode})}">계약상세보기</a>
                                    </td>
                                    </th:block>
                                    <th:block th:case="2" th:if="${l.contractType == 'mentormentee'||l.contractType == 'feed'}">
                                        <td th:text="${l.contractCode}"></td>
                                        <td th:text="${l.contractType}"></td>
                                        <td th:text="${l.memberId}"></td>
                                        <td th:text="${l.contractApproval}"></td>
                                        <td th:text="${l.contracteeCompanyCode}"></td>
                                        <td th:text="${l.contractorCompanyCode}"></td>
                                        <td>
                                            <a class="btn btn-secondary btn-sm" th:href="@{/contract/contractInfo(contractCode=${l.contractCode})}">계약상세보기</a>
                                        </td>
                                    </th:block>
                                    <th:block th:case="3" th:if="${l.contractType == 'feed'}">
                                        <td th:text="${l.contractCode}"></td>
                                        <td th:text="${l.contractType}"></td>
                                        <td th:text="${l.memberId}"></td>
                                        <td th:text="${l.contractApproval}"></td>
                                        <td th:text="${l.contracteeCompanyCode}"></td>
                                        <td th:text="${l.contractorCompanyCode}"></td>
                                        <td>
                                            <a class="btn btn-secondary btn-sm" th:href="@{/contract/contractInfo(contractCode=${l.contractCode})}">계약상세보기</a>
                                        </td>
                                    </th:block>
                                    <th:block th:case="*">
                                        <td th:text="${l.contractCode}"></td>
                                        <td th:text="${l.contractType}"></td>
                                        <td th:text="${l.memberId}"></td>
                                        <td th:text="${l.contractApproval}"></td>
                                        <td th:text="${l.contracteeCompanyCode}"></td>
                                        <td th:text="${l.contractorCompanyCode}"></td>
                                        <td>
                                            <a class="btn btn-secondary btn-sm" th:href="@{/contract/contractInfo(contractCode=${l.contractCode})}">계약상세보기</a>
                                        </td>
                                    </th:block>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>