<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.farm.mapper.FarmMapper">

    <select id="getFeedList" resultType="Feed">
        SELECT
            feeding_num AS feedingNum,
            company_code AS companyCode,
            farm_code AS farmCode,
            expected_cage_production_code AS expectedCageProductionCode,
            feeding_amount AS feedingAmount,
            feeding_date AS feedingDate,
            member_id AS memberId
        FROM
            feeding;
    </select>

    <select id="getProductionList" resultType ="Production">
        SELECT production_code
            AS productionCode,
            company_code AS companyCode,
            farm_code AS farmCode,
            expected_cage_production_code AS expectedCageProductionCode,
            real_harvest_day AS realHarvestDay,
            real_production AS realProduction,
            loss_rate AS lossRate,
            member_id AS memberId,
            production_reg_date AS productionRegDate
        FROM
            production;

    </select>

    <select id="getCycleList" resultType="Cycle">
        SELECT
            expected_cage_production_code AS cycleCode,
            company_code AS companyCode,
            farm_code AS farmCode,
            cage_code AS cageCode,
            harvest_start_date AS harvestStartDate,
            estimated_harvest_date AS estimatedHarvestDate,
            input_egg AS inputEgg,
            calculation_standard_code AS calculationStandardCode,
            estimated_production AS estimatedProduction,
            member_id AS memberId,
            estimated_production_reg_date AS estimatedProductionRegDate
        FROM
            cage_cycle ;

    </select>


    <select id="getCageList" resultType="Cage">
        SELECT
            cage_code AS cageCode,
            cage_name AS cageName,
            company_code AS companyCode,
            farm_code AS farmCode,
            optimal_input_egg AS optimalInputEgg,
            member_id AS memberId,
            cage_reg_date AS cageRegDate,
            cage_num AS cageNum,
            cage_volum AS cageVolume,
            cage_volum_unit AS cageVolumeUnit,
            cage_total AS cageTotal
        FROM cage;
    </select>

    <select id="getFarmList" resultType="FarmInfo">
        SELECT
            farm_code AS farmCode,
            farm_name AS farmName,
            farm_detail as farmDetail,
            company_code AS companyCode,
            farm_address AS farmAddr,
            farm_reg_date AS farmRegDate,
            cage_amount AS cageAmount,
            total_capacity AS totalCapacity,
            member_id AS memberId
        FROM
            farm_info
    </select>

    <select id="getFarmStatusList" resultType="FarmStatus">
        SELECT
            farm_code AS farmCode,
            farm_status_hum AS farmStatusHum,
            farm_status_illum  AS farmStatusIllum,
            farm_status_temp AS farmStatusTemp,
            farm_status_reg_date AS farmStatusRegDate
        FROM
            farm_status_log
    </select>
</mapper>