<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.farm.mapper.FarmMapper">

	<!-- 전체 사육장 생산량 검색 -->
	 <select id="getSearchProduction" resultType ="Production">
        SELECT 
			p.production_code AS productionCode,
			p.company_code AS companyCode,
			p.farm_code AS farmCode,
			p.expected_cage_production_code AS expectedCageProductionCode,
			DATE_FORMAT(p.real_harvest_day, '%Y-%m-%d')AS realHarvestDay,
			p.real_production AS realProduction,
			p.loss_rate AS lossRate,
			p.member_id AS memberId,
			p.production_reg_date AS productionRegDate,
			ex.calculation_standard_code AS calculationStandardCode
		FROM
			production AS p
		INNER JOIN
			expeted_cage_production AS ex
			ON p.expected_cage_production_code = ex.expeted_cage_production_code
		    <where>
		     	p.company_code = #{companyCode}
		     	<if test="searchKey != null and searchKey != ''">
		     	 AND (${searchKey} LIKE CONCAT('%', #{searchValue}, '%'))
		     	</if>
		     	 <if test="fromDate != null and fromDate != '' and toDate != null and toDate != ''">
                AND DATE_FORMAT(realHarvestDay, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
	            </if>
	            <if test="fromDate != null and fromDate != '' and (toDate == null or toDate == '')">
	                AND DATE_FORMAT(realHarvestDay, '%Y-%m-%d') &gt;= #{fromDate}
	            </if>
	            <if test="(fromDate == null or fromDate == '') and toDate != null and toDate != ''">
	                AND DATE_FORMAT(realHarvestDay, '%Y-%m-%d') &lt;= #{toDate}
	            </if>
			    </where>
		    ORDER BY real_harvest_day  DESC;
    </select>

	<!-- 전체 사육장 리스트  -->
	<select id="getFarmList" resultType="FarmInfo">
	   SELECT
		   farm_code AS farmCode,
		   farm_name AS farmName,
		   farm_detail as farmDetail,
		   company_code AS companyCode,
		   farm_address AS farmAddr,
		   farm_reg_date AS farmRegDate,
		   cage_amount AS cageAmount,
		   total_capacity AS totalCapacity,
		   member_id AS memberId
	   FROM
	  		farm_info
	   WHERE
	   		company_code = #{companyCode}
	</select>

	<!-- 한 사육장의 정보 -->
	<select id="getFarmInfoByCode" parameterType="String" resultType="FarmInfo">
	        SELECT
		        farm_code AS farmCode,
		        farm_name AS farmName,
		        farm_detail as farmDetail,
		        company_code AS companyCode,
		        farm_address AS farmAddr,
		        farm_reg_date AS farmRegDate,
		        cage_amount AS cageAmount,
		        total_capacity AS totalCapacity,
		        member_id AS memberId
	        FROM
	        	farm_info
	        WHERE
	        	farm_code = #{farmCode}
	</select>

	<!-- 한 사육장 생산량 조회 -->
	<select id="getProductionByCode" resultType ="Production">
		SELECT 
			p.production_code AS productionCode,
			p.company_code AS companyCode,
			p.farm_code AS farmCode,
			p.expected_cage_production_code AS expectedCageProductionCode,
			DATE_FORMAT(p.real_harvest_day, '%Y-%m-%d')AS realHarvestDay,
			p.real_production AS realProduction,
			p.loss_rate AS lossRate,
			p.member_id AS memberId,
			p.production_reg_date AS productionRegDate,
			ex.calculation_standard_code AS calculationStandardCode
		FROM
			production AS p
		INNER JOIN
			expeted_cage_production AS ex
			ON p.expected_cage_production_code = ex.expeted_cage_production_code
		    <where>
		      	 p.farm_code = #{farmCode}
		    </where>
		    ORDER BY real_harvest_day  DESC;
	</select>
	
	<!-- 전체사육장 생산량 조회 -->
	 <select id="getProductionList" resultType ="Production">
        SELECT 
			p.production_code AS productionCode,
			p.company_code AS companyCode,
			p.farm_code AS farmCode,
			p.expected_cage_production_code AS expectedCageProductionCode,
			DATE_FORMAT(p.real_harvest_day, '%Y-%m-%d')AS realHarvestDay,
			p.real_production AS realProduction,
			p.loss_rate AS lossRate,
			p.member_id AS memberId,
			p.production_reg_date AS productionRegDate,
			ex.calculation_standard_code AS calculationStandardCode
		FROM
			production AS p
		INNER JOIN
			expeted_cage_production AS ex
			ON p.expected_cage_production_code = ex.expeted_cage_production_code
		    <where>
		     	p.company_code = #{companyCode}
		    </where>
		    ORDER BY real_harvest_day  DESC;
    </select>
    
    <!-- 한 사육장 싸이클 검색 -->
    <select id="getSearchCycle" resultType = "Cycle">
		SELECT
	  		c.cage_volum as cageVolum,
	  		c.cage_num as cageNum,
	  		c.cage_total cageTotal, 
	        cy.expected_cage_production_code AS cycleCode,
	        cy.company_code AS companyCode,
	        cy.farm_code AS farmCode,
	        cy.cage_code AS cageCode,
	        Date(harvest_start_date) AS harvestStartDate,
	        Date(estimated_harvest_date) AS estimatedHarvestDate,
	        input_egg AS inputEgg,
	        calculation_standard_code AS calculationStandardCode,
	        estimated_production AS estimatedProduction,
	        cy. member_id AS memberId,
	        estimated_production_reg_date AS estimatedProductionRegDate,
	        DATEDIFF(estimated_harvest_date, NOW()) AS dayDiffHarvest 
        FROM
        	cage_cycle AS cy
        INNER JOIN
        	cage AS c
        ON cy.cage_code = c.cage_code
        <where>
          cy.farm_code = #{farmCode}
            <if test="searchKey != null and searchKey != ''">
                <choose>
                    <when test="searchKey == 'dayDiffHarvest'">
                        AND DATEDIFF(estimated_harvest_date, NOW()) = #{searchValue}
                    </when>
                    <otherwise>
                        AND (${searchKey} LIKE CONCAT('%', #{searchValue}, '%'))
                    </otherwise>
                </choose>
            </if>
            <if test="fromDate != null and fromDate != '' and toDate != null and toDate != ''">
                AND DATE_FORMAT(estimated_harvest_date, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
            </if>
            <if test="fromDate != null and fromDate != '' and (toDate == null or toDate == '')">
                AND DATE_FORMAT(estimated_harvest_date, '%Y-%m-%d') &gt;= #{fromDate}
            </if>
            <if test="(fromDate == null or fromDate == '') and toDate != null and toDate != ''">
                AND DATE_FORMAT(estimated_harvest_date, '%Y-%m-%d') &lt;= #{toDate}
            </if>
       </where>
     </select>

	
</mapper>