<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.farm.mapper.FarmMapper">


    <!-- 싸이클 수정    -->
    <update id="modifyCycle" parameterType="Cycle">

    </update>

    <!-- 생산량 수정   -->
    <update id="modifyProduction" parameterType="Production">
        UPDATE
            production
        SET
            company_code = #{companyCode},
            farm_code = #{farmCode},
            expected_cage_production_code = #{expectedCageProductionCode},
            real_harvest_day = #{realHarvestDay},
            real_production = #{realProduction},
            loss_rate = #{lossRate},
            member_id = #{memberId},
            production_reg_date = CURDATE()
        WHERE
            production_code = #{productionCode};

    </update>

    <!-- 생산량 코드로 하나의 생산량 정보 조회    -->
    <select id="getProductionByPCode" resultType="Production">
        SELECT
            production_code as productionCode,
            company_code as companyCode,
            farm_code as farmCode,
            expected_cage_production_code as expectedCageProductionCode,
            real_harvest_day as realHarvestDay,
            real_production as realProduction,
            loss_rate as lossRate,
            member_id as memberId,
            production_reg_date as productionRegDate
        FROM
            production
        WHERE
            production_code = #{productionCode}
    </select>


    <!-- 사육장 수정    -->
    <update id="modifyFarm" parameterType="FarmInfo">
        UPDATE
            farm_info
        SET
            farm_name = #{farmName},
            company_code = #{companyCode},
            farm_reg_date = CURDATE(),
            farm_detail = #{farmDetail},
            member_id = #{memberId},
            cage_amount = #{cageAmount},
            total_capacity = #{totalCapacity},
            farm_address = #{farmAddr}
        WHERE
            farm_code = #{farmCode};
    </update>
    <!-- 생산량 등록    -->
    <insert id="addProduction" parameterType="Production">
        INSERT INTO production (
            production_code,
            company_code,
            farm_code,
            expected_cage_production_code,
            real_harvest_day,
            real_production,
            loss_rate,
            member_id,
            production_reg_date
        ) VALUES (
            #{productionCode},
            #{companyCode},
            #{farmCode},
            #{expectedCageProductionCode},
            #{realHarvestDay},
            #{realProduction},
            #{lossRate},
            #{memberId},
            curdate()
        );

    </insert>

    <!-- 싸이이클 코드 싸이클 정보조회   -->
    <select id="getCycleByCode" resultType="Cycle">
        SELECT
            c.expected_cage_production_code AS cycleCode,
            c.company_code AS companyCode,
            c.farm_code AS farmCode,
            c.cage_code AS cageCode,
            c.harvest_start_date AS harvestStartDate,
            c.estimated_harvest_date AS estimatedHarvestDate,
            c.input_egg AS inputEgg,
            c.calculation_standard_code AS calculationStandardCode,
            c.estimated_production AS estimatedProduction,
            c.estimated_production_reg_date AS estimatedProductionRegDate
        FROM
            cage_cycle as c
        WHERE
            c.expected_cage_production_code = #{cycleCode}
    </select>

    <!-- 모달창 사육장 싸이클 조회-->
    <select id="getCycleListByCompanyCode" resultType="Cycle">
        SELECT
            c.expected_cage_production_code as cycleCode,
            c.farm_code as farmCode,
            c.calculation_standard_code as calculationStandardCode,
            c.estimated_production as estimatedProduction
        FROM
            cage_cycle as c
        LEFT JOIN
            production p ON c.expected_cage_production_code = p.expected_cage_production_code
        WHERE
            c.company_code = #{companyCode} AND p.expected_cage_production_code IS NULL;
    </select>


    <!-- 싸이클 등록    -->
    <insert id="addCycle" parameterType="Cycle">
        INSERT INTO cage_cycle (
            expected_cage_production_code,
            company_code,
            farm_code,
            cage_code,
            harvest_start_date,
            estimated_harvest_date,
            input_egg,
            calculation_standard_code,
            estimated_production,
            member_id,
            estimated_production_reg_date
        ) VALUES (
            #{cycleCode},
            #{companyCode},
            #{farmCode},
            #{cageCode},
            #{harvestStartDate},
            #{estimatedHarvestDate},
            #{inputEgg},
            #{calculationStandardCode},
            #{estimatedProduction},
            #{memberId},
             CURDATE()
        )

    </insert>

    <!-- 케이지 등록   -->
    <insert id="addCage" parameterType="Cage">
        INSERT INTO cage (
            cage_code,
            cage_name,
            company_code,
            farm_code,
            optimal_input_egg,
            member_id,
            cage_reg_date,
            cage_num,
            cage_volume,
            cage_volume_unit,
            cage_total
        ) VALUES (
            #{cageCode},
            #{cageName},
            #{companyCode},
            #{farmCode},
            #{optimalInputEgg},
            #{memberId},
            CURDATE(),
            #{cageNum},
            #{cageVolume},
            'L',
            #{cageTotal}
        )
    </insert>

    <!-- 기준 단위 가져오기  -->
    <select id="getStandard" resultType="HashMap">
        SELECT
             *
        FROM
            calculation_standard
        where
            calculation_standard_code = #{standardCode}
    </select>

    <!-- 사육장 등록   -->
    <insert id="addFarm" parameterType="FarmInfo">
        INSERT INTO farm_info (
            farm_code,
            farm_name,
            company_code,
            farm_reg_date,
            cage_amount,
            member_id,
            total_capacity,
            farm_address,
            farm_detail
        ) VALUES (
            #{farmCode},
            #{farmName},
            #{companyCode},
            CURDATE(),
            #{cageAmount},
            #{memberId},
            #{totalCapacity},
            #{farmAddr},
            #{farmDetail}
        )
    </insert>


    <!-- 모달창 케이지 코드로 케이지 정보조회-->
	<select id="getCageByCode" resultType="Cage">
	  	SELECT
	        cage_code AS cageCode,
	        cage_name AS cageName,
	        company_code AS companyCode,
	        farm_code AS farmCode,
	        optimal_input_egg AS optimalInputEgg,
	        member_id AS memberId,
	        cage_reg_date AS cageRegDate,
	        cage_num AS cageNum,
	        cage_volume AS cageVolume,
	        cage_volume_unit AS cageVolumeUnit,
	        cage_total AS cageTotal
        FROM
        	cage
        WHERE
        	cage_code = #{cageCode}
        	
	</select>
	
	<!-- 모달창 사육장 케이지 조회-->
	<select id="getCageListByCode" resultType="Cage">
	  	SELECT
	        cage_code AS cageCode,
	        cage_name AS cageName,
	        company_code AS companyCode,
	        farm_code AS farmCode,
	        optimal_input_egg AS optimalInputEgg,
	        member_id AS memberId,
	        cage_reg_date AS cageRegDate,
	        cage_num AS cageNum,
	        cage_volume AS cageVolume,
	        cage_volume_unit AS cageVolumeUnit,
	        cage_total AS cageTotal
        FROM
        	cage
        WHERE
        	farm_code = #{farmCode}
        	
	</select>


    <!-- 전체 사육장 케이지 검색 조회 -->
    <select id="getSearchCageList" resultType="Cage">
        SELECT
        cage_code AS cageCode,
        cage_name AS cageName,
        company_code AS companyCode,
        farm_code AS farmCode,
        optimal_input_egg AS optimalInputEgg,
        member_id AS memberId,
        DATE_FORMAT(cage_reg_date, '%Y-%m-%d') AS cageRegDate,
        cage_num AS cageNum,
        cage_volume AS cageVolume,
        cage_volume_unit AS cageVolumeUnit,
        cage_total AS cageTotal
        FROM
        cage
        WHERE
        company_code = #{companyCode}
        <if test="searchKey != null and searchKey != ''">
            AND (${searchKey} LIKE CONCAT('%', #{searchValue}, '%'))
        </if>
    </select>

    <!-- 하나의 사육장 상태 조회 -->
    <select id="getFarmStatusList" resultType="FarmStatus">
        SELECT
        farm_code AS farmCode,
        farm_status_hum AS farmStatusHum,
        farm_status_illum  AS farmStatusIllum,
        farm_status_temp AS farmStatusTemp,
        farm_status_reg_date AS farmStatusRegDate
        FROM
        farm_status_log
        WHERE
        farm_code = #{farmCode}
    </select>

    <!-- 하나의 싸이클 먹이급여 조회 -->
    <select id="getFeedListByCycleCode" resultType="Feed">
        SELECT
        feeding_num AS feedingNum,
        company_code AS companyCode,
        farm_code AS farmCode,
        expected_cage_production_code AS expectedCageProductionCode,
        feeding_amount AS feedingAmount,
        feeding_date AS feedingDate,
        member_id AS memberId
        FROM
        feeding
        where
        expected_cage_production_code = #{cycleCode}
    </select>

    <!-- 전체 사육장 생산량 검색 -->
    <select id="getSearchProduction" resultType ="Production">
        SELECT
        p.production_code AS productionCode,
        p.company_code AS companyCode,
        p.farm_code AS farmCode,
        p.expected_cage_production_code AS expectedCageProductionCode,
        DATE_FORMAT(p.real_harvest_day, '%Y-%m-%d')AS realHarvestDay,
        p.real_production AS realProduction,
        p.loss_rate AS lossRate,
        p.member_id AS memberId,
        p.production_reg_date AS productionRegDate,
        ex.calculation_standard_code AS calculationStandardCode
        FROM
        production AS p
        INNER JOIN
        cage_cycle AS ex
        ON p.expected_cage_production_code = ex.expected_cage_production_code
        <where>
            p.company_code = #{companyCode}

            <if test="fromDate != null and fromDate != '' and toDate != null and toDate != ''">
                AND DATE_FORMAT(p.real_harvest_day, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
                <if test="searchKey != null and searchKey != ''">
                    AND (${searchKey} LIKE CONCAT('%', #{searchValue}, '%'))
                </if>
            </if>
            <if test="fromDate != null and fromDate != '' and (toDate == null or toDate == '')">
                AND DATE_FORMAT(p.real_harvest_day, '%Y-%m-%d') &gt;= #{fromDate}
                <if test="searchKey != null and searchKey != ''">
                    AND (${searchKey} LIKE CONCAT('%', #{searchValue}, '%'))
                </if>
            </if>
            <if test="(fromDate == null or fromDate == '') and toDate != null and toDate != ''">
                AND DATE_FORMAT(p.real_harvest_day, '%Y-%m-%d') &lt;= #{toDate}
                <if test="searchKey != null and searchKey != ''">
                    AND (${searchKey} LIKE CONCAT('%', #{searchValue}, '%'))
                </if>
            </if>
            <if test="fromDate ==''and toDate ==''">
                <if test="searchKey != null and searchKey != ''">
                    AND (${searchKey} LIKE CONCAT('%', #{searchValue}, '%'))
                </if>
            </if>
        </where>
        ORDER BY real_harvest_day  DESC;
    </select>

    <!-- 전체 사육장 리스트  -->
    <select id="getFarmList" resultType="FarmInfo">
        SELECT
        farm_code AS farmCode,
        farm_name AS farmName,
        farm_detail as farmDetail,
        company_code AS companyCode,
        farm_address AS farmAddr,
        farm_reg_date AS farmRegDate,
        cage_amount AS cageAmount,
        total_capacity AS totalCapacity,
        member_id AS memberId
        FROM
        farm_info
        WHERE
        company_code = #{companyCode}
        order by farm_name asc
    </select>

    <!-- 한 사육장의 정보 -->
    <select id="getFarmInfoByCode" parameterType="String" resultType="FarmInfo">
        SELECT
        farm_code AS farmCode,
        farm_name AS farmName,
        farm_detail as farmDetail,
        company_code AS companyCode,
        farm_address AS farmAddr,
        farm_reg_date AS farmRegDate,
        cage_amount AS cageAmount,
        total_capacity AS totalCapacity,
        member_id AS memberId
        FROM
        farm_info
        WHERE
        farm_code = #{farmCode}
    </select>

    <!-- 한 사육장 생산량 조회 -->
    <select id="getProductionByCode" resultType ="Production">
        SELECT
        p.production_code AS productionCode,
        p.company_code AS companyCode,
        p.farm_code AS farmCode,
        p.expected_cage_production_code AS expectedCageProductionCode,
        DATE_FORMAT(p.real_harvest_day, '%Y-%m-%d')AS realHarvestDay,
        p.real_production AS realProduction,
        p.loss_rate AS lossRate,
        p.member_id AS memberId,
        p.production_reg_date AS productionRegDate,
        ex.calculation_standard_code AS calculationStandardCode
        FROM
        production AS p
        INNER JOIN
        cage_cycle AS ex
        ON p.expected_cage_production_code = ex.expected_cage_production_code
        <where>
            p.farm_code = #{farmCode}
        </where>
        ORDER BY real_harvest_day  DESC;
    </select>

    <!-- 전체사육장 생산량 조회 -->
    <select id="getProductionList" resultType ="Production">
        SELECT
        p.production_code AS productionCode,
        p.company_code AS companyCode,
        p.farm_code AS farmCode,
        p.expected_cage_production_code AS expectedCageProductionCode,
        DATE_FORMAT(p.real_harvest_day, '%Y-%m-%d')AS realHarvestDay,
        p.real_production AS realProduction,
        p.loss_rate AS lossRate,
        p.member_id AS memberId,
        p.production_reg_date AS productionRegDate,
        ex.calculation_standard_code AS calculationStandardCode
        FROM
        production AS p
        INNER JOIN
        cage_cycle AS ex
        ON p.expected_cage_production_code = ex.expected_cage_production_code
        <where>
            p.company_code = #{companyCode}
        </where>
        ORDER BY real_harvest_day  DESC;
    </select>

    <!-- 한 사육장 싸이클 검색 -->
    <select id="getSearchCycle" resultType = "Cycle">
        SELECT
        c.cage_volume as cageVolume,
        c.cage_num as cageNum,
        c.cage_total cageTotal,
        cy.expected_cage_production_code AS cycleCode,
        cy.company_code AS companyCode,
        cy.farm_code AS farmCode,
        cy.cage_code AS cageCode,
        Date(harvest_start_date) AS harvestStartDate,
        Date(estimated_harvest_date) AS estimatedHarvestDate,
        input_egg AS inputEgg,
        calculation_standard_code AS calculationStandardCode,
        estimated_production AS estimatedProduction,
        cy. member_id AS memberId,
        estimated_production_reg_date AS estimatedProductionRegDate,
        DATEDIFF(estimated_harvest_date, NOW()) AS dayDiffHarvest
        FROM
        cage_cycle AS cy
        INNER JOIN
        cage AS c
        ON cy.cage_code = c.cage_code
        <where>
            cy.farm_code = #{farmCode}
            <if test="searchKey != null and searchKey != ''">
                <choose>
                    <when test="searchKey == 'dayDiffHarvest'">
                        AND DATEDIFF(estimated_harvest_date, NOW()) = #{searchValue}
                    </when>
                    <otherwise>
                        AND (${searchKey} LIKE CONCAT('%', #{searchValue}, '%'))
                    </otherwise>
                </choose>
            </if>
            <if test="fromDate != null and fromDate != '' and toDate != null and toDate != ''">
                AND DATE_FORMAT(estimated_harvest_date, '%Y-%m-%d') BETWEEN #{fromDate} AND #{toDate}
            </if>
            <if test="fromDate != null and fromDate != '' and (toDate == null or toDate == '')">
                AND DATE_FORMAT(estimated_harvest_date, '%Y-%m-%d') &gt;= #{fromDate}
            </if>
            <if test="(fromDate == null or fromDate == '') and toDate != null and toDate != ''">
                AND DATE_FORMAT(estimated_harvest_date, '%Y-%m-%d') &lt;= #{toDate}
            </if>
        </where>
    </select>


</mapper>