<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/no_layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Access denied</title>
</head>
<th:block layout:fragment="customJs">
	<script>
		$(function() {
			$('#home').click(function() {
				location.href = "/";
			})

		})
	</script>

</th:block>
<th:block layout:fragment="customContent">
	<div class="col-md-12">
		<div class="col-middle">
			<div class="text-center text-center">
				<h1 class="error-number">403</h1>
				<h2>Access denied</h2>
				<p>
					유효하지 않은 접근이 감지 되었습니다. <a href="/customerservice/main?questionTypeCode=1">고객센터 바로가기</a>
				</p>
				<div class="mid_center">
					<button class="btn btn-secondary" id="home" type="button">홈으로
						돌아가기</button>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>