<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mypage}">
<head>
    <meta charset="UTF-8">
    <title>BSFP</title>
</head>
<th:block layout:fragment="customJs">

</th:block>

<th:block layout:fragment="customContent">
    <div class="col-md-12 col-sm-12 ">
        <div class="x_panel">
            <div class="x_title">
                <h2>계약목록</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered" style="width:100%">
                                <thead>
                                <tr role="row">
                                    <th>계약코드</th>
                                    <th>계약종류</th>
                                    <th>계약신청아이디</th>
                                    <th>계약승인상태</th>
                                    <th>계약신청업체코드</th>
                                    <th>계약공고업체코드</th>
                                    <th>관리자아이디</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr role="row" class="odd">
                                    <td>con1</td>
                                    <td>건조업체</td>
                                    <td>3333333333333</td>
                                    <td>3333333333333</td>
                                    <td>3333333333333</td>
                                    <td>333333333333333</td>
                                    <td>3333333333333</td>
                                    <td>
                                        <a th:href="@{/contract/contract_info}">계약상세보기</a>
                                    </td>
                                    <td>
                                        <a th:href="@{/contract/contract_info}">계약수정</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>