<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.company.mapper.CompanyMapper">
    <resultMap type="Company" id="companyResultMap">
        <id     column="company_code"               property="companyCode"/>
        <result column="company_type_num"           property="companyTypeNum"/>
        <result column="company_reg_num"            property="companyRegNum"/>
        <result column="member_id"                  property="memberId"/>
        <result column="company_tel"                property="companyTel"/>
        <result column="company_addr"               property="companyAddr"/>
        <result column="company_addr_detail"        property="companyAddrDetail"/>
        <result column="company_name"               property="companyName"/>
        <result column="apply_date"                 property="applyDate"/>
        <result column="approval_status"            property="approvalStatus"/>
        <result column="approval_denied_content"    property="approvalDeniedContent"/>
        <result column="admin_id"                   property="adminId"/>
        <result column="approval_date"              property="approvalDate"/>
        <result column="apply_date"                 property="applyDate"/>
        <result column="farm_level_num"             property="farmLevelNum"/>
        <result column="reg_password"               property="regPassword"/>
        <result column="farm_cnt"                   property="farmCnt"/>
        <result column="company_type"               property="companyType"/>
        <result column="breeder_level_name"         property="breederLevelName"/>
        <result column="isExist"                    property="isExist"/>
    </resultMap>

    <insert id="insertCompanyProduct" parameterType="FarmProductCategory">
        /* 사육업체상품카테고리 등록 */
        INSERT into farm_product_category
            (product_category_code, product_name, admin_id, product_category_reg_date)
        values
            (#{productCategoryCode},#{productName},#{adminId},curdate());
    </insert>

    <select id="getFarmProductCategoryList" resultType="FarmProductCategory">
        /* 사육업체상품카테고리조회 */
        SELECT
            product_category_code as productCategoryCode
            ,product_name as productName
            ,admin_id as adminId
            ,product_category_reg_date as productCategoryRegDate
        FROM
            farm_product_category;
    </select>

    <select id="getCompanyPositionList" resultType="CompanyPositionLevel">
        /* 업체직원별권한조회 */
        SELECT
            position_level_code as positionLevelCode
            ,member_level_name as memberLevelName
            ,company_reg_date as companyRegDate
            ,admin_id as adminId
            ,member_management as memberManagement
            ,contract_management as contractManagement
            ,payment_management as paymentManagement
            ,company_info_management as companyInfoManagement
            ,mento_mentee_management as MentorMenteeManagement
        FROM
            company_position_level;
    </select>

    <update id="modifyCompany" parameterType="Company">
        /* 업체정보 수정 */
        UPDATE company_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyRegNum != null and companyRegNum != ''">
                company_reg_num = #{companyRegNum},
            </if>
            <if test="companyName != null and companyName != ''">
                company_name = #{companyName},
            </if>
            <if test="companyAddr != null and companyAddr != ''">
                company_addr = #{companyAddr},
            </if>
            <if test="companyTel != null and companyTel != ''">
                company_tel = #{companyTel},
            </if>
            <if test="regPassword != null and regPassword != ''">
                reg_password = #{regPassword},
            </if>
        </trim>
        WHERE
            company_code = #{companyCode};
    </update>


    <insert id="addCompany" parameterType="Company">
        /* 업체등록 */
        INSERT into company_info
        (company_code
        ,company_type_num
        ,company_reg_num
        ,member_id
        ,company_tel
        ,company_addr
        ,company_addr_detail
        ,company_name
        ,apply_date
        ,reg_password
        )
        values
        (#{companyCode}
        ,#{companyTypeNum}
        ,#{companyRegNum}
        ,#{memberId}
        ,#{companyTel}
        ,#{companyAddr}
        ,#{companyAddrDetail}
        ,#{companyName}
        ,curdate()
        ,#{regPassword}
        );
    </insert>

    <select id="getCompanyInfoById" parameterType="String" resultMap="companyResultMap">
        /* 업체상세 정보조회 */
        SELECT
        ci.company_code
        ,ct.company_type
        ,ci.company_type_num
        ,ci.company_reg_num
        ,ci.member_id
        ,ci.company_tel
        ,ci.company_addr
        ,ci.company_name
        ,ci.apply_date
        ,ci.approval_status
        ,ci.approval_denied_content
        ,ci.admin_id
        ,ci.approval_date
        ,fl.breeder_level_name
        ,ci.reg_password
        ,ci.farm_cnt
        ,count(1) as isExist
        FROM
        company_info as ci
        inner join
        company_type as ct
        on
        ci.company_type_num = ct.company_type_num
        inner join
        farm_level as fl
        on
        ci.farm_level_num = fl.farm_level_num
        WHERE
        member_id = #{memberId};

    </select>

    <select id="getCompanyInfoByCode" parameterType="String" resultMap="companyResultMap">
        /* 업체상세 정보조회 */
        SELECT
        ci.company_code
        ,ct.company_type
        ,ci.company_type_num
        ,ci.company_reg_num
        ,ci.member_id
        ,ci.company_tel
        ,ci.company_addr
        ,ci.company_name
        ,ci.apply_date
        ,ci.approval_status
        ,ci.approval_denied_content
        ,ci.admin_id
        ,ci.approval_date
        ,fl.breeder_level_name
        ,ci.reg_password
        ,ci.farm_cnt
        FROM
            company_info as ci
            inner join
            company_type as ct
            on
            ci.company_type_num = ct.company_type_num
            inner join
            farm_level as fl
            on
            ci.farm_level_num = fl.farm_level_num
        WHERE
            company_code = #{companyCode};

    </select>

    <select id="getCompanyTypeList" resultType="CompanyType">
        /* 업체 종류 조회 */
        SELECT
            ct.company_type_num as companyTypeNum
            ,ct.company_type as companyType
            ,ct.reg_date as regDate
            ,ct.admin_id as adminId
        FROM
            company_type as ct;
    </select>

    <select id="getCompanyList" parameterType="String" resultMap="companyResultMap">
        /* 업체 목록 조회 */
        SELECT
            ci.company_code
            ,ct.company_type
            ,ci.company_reg_num
            ,ci.member_id
            ,ci.company_tel
            ,ci.company_addr
            ,ci.company_name
            ,ci.apply_date
            ,ci.approval_status
            ,ci.approval_denied_content
            ,ci.admin_id
            ,ci.approval_date
            ,ci.farm_level_num
            ,ci.reg_password
            ,ci.farm_cnt
        FROM
            company_info as ci
            inner join
            company_type as ct
            on
            ci.company_type_num = ct.company_type_num ;
    </select>
</mapper>