<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.company.mapper.ContractMapper">
    <resultMap type="Contract" id="contractResultMap">
        <id     column="contract_code"               property="contractCode"/>
        <result column="contract_registration_code"  property="contractRegCode"/>
        <result column="contract_type"               property="contractType"/>
        <result column="member_id"                   property="memberId"/>
        <result column="contract_apply_date"         property="contractApplyDate"/>
        <result column="contract_start_date"         property="contractStartDate"/>
        <result column="contract_end_date"           property="contractEndDate"/>
        <result column="contract_paper"              property="contractPaper"/>
        <result column="admin_id"                    property="adminId"/>
        <result column="contract_approval_date"      property="contractApprovalDate"/>
        <result column="contract_approval"           property="contractApproval"/>
        <result column="deposit"                     property="deposit"/>
        <result column="delivery_cycle"              property="deliveryCycle"/>
        <result column="contract_amount"             property="contractAmount"/>
        <result column="total_amount"                property="totalAmount"/>
        <result column="contractee_company_code"     property="contracteeCompanyCode"/>
        <result column="contractor_company_code"     property="contractorCompanyCode"/>
    </resultMap>

<select id="getContractList" resultMap="contractResultMap">
    SELECT
    *
    FROM
    all_contract;
</select>
</mapper>