<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.admin.mapper.AddrMapper">
<resultMap type="Addr" id="adminAddrResultMap">
		<id 	column="shipping_addr_code"  				property="addrCode" />
		<result column="shipping_addr_road"  				property="addrRoad"/>
		<result column="shipping_addr_loca"  				property="addrLoca"/>
		<result column="shipping_addr_name"  				property="addrName"/>
		<result column="shipping_addr_recipient"  			property="addrRecipient"/>
		<result column="shipping_addr_tel"  				property="addrTel"/>
		<result column="shipping_addr_phone"  				property="addrPhone"/>
		<result column="shipping_addr_seq"  				property="addrSeq"/>
		<result column="member_id"  						property="memberId"/>
</resultMap>
	<delete id="removeAddrByCode" parameterType="String">
			/* 배송지 삭제 */
			DELETE
				*
			FROM
			 	addr_manage
			WHERE 
				shipping_addr_code = #{addrCode};
		</delete>
<update id="modifyAdmin" parameterType="String" >
		/* 관리자 정보 수정 */
		UPDATE admin_list
		<trim prefix="SET" suffixOverrides=",">
			<if test="adminPw != null and adminPw != ''">
				admin_pw = #{adminPw},
			</if>
			<if test="adminName != null and adminName != ''">
				admin_name = #{adminName},
			</if>
			<if test="adminEmail != null and adminEmail != ''">
				admin_email = #{adminEmail},
			</if>
			<if test="adminLevel != null and adminLevel != ''">
				admin_level = #{adminLevel},
			</if>
			<if test="adminPhone != null and adminPhone != ''">
				admin_phone = #{adminPhone},
			</if>
			<if test="adminRegDate != null and adminRegDate != ''">
				admin_reg_date = #{adminRegDate},
			</if>
		</trim>
		WHERE 
			admin_id = #{adminId};

	</update>
	
		
	<select id="getAddrList" parameterType="String" resultMap="adminAddrResultMap">
				/* 전체 회원 배송지 조회 */
				select 
				 *
				from addr_manage;
 
	</select>
	
	
</mapper>