<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.admin.mapper.AddrMapper">
<resultMap type="Addr" id="adminAddrResultMap">
		<id 	column="shipping_addr_code"  				property="addrCode" />
		<result column="shipping_addr_road"  				property="addrRoad"/>
		<result column="shipping_addr_loca"  				property="addrLoca"/>
		<result column="shipping_addr_name"  				property="addrName"/>
		<result column="shipping_addr_recipient"  			property="addrRecipient"/>
		<result column="shipping_addr_tel"  				property="addrTel"/>
		<result column="shipping_addr_phone"  				property="addrPhone"/>
		<result column="shipping_addr_seq"  				property="addrSeq"/>
		<result column="member_id"  						property="memberId"/>
</resultMap>
	<delete id="removeAddrByCode" parameterType="String">
			/* 배송지 삭제 */
			DELETE
				*
			FROM
			 	addr_manage
			WHERE 
				shipping_addr_code = #{addrCode};
		</delete>
<select id="getAddrInfoById" parameterType="String" resultMap="adminAddrResultMap">
		/* 배송지 조회 */
			select 
				 shipping_addr_code
				,shipping_addr_road
				,shipping_addr_loca
				,shipping_addr_name
				,shipping_addr_recipient
				,shipping_addr_tel
				,shipping_addr_phone
				,shipping_addr_seq
				,member_id
			from 
				addr_manage 
			where 
				shipping_addr_code = #{addrCode};
	</select>

	<update id="modifyAddr" parameterType="String" >
		/* 배송지 수정 */	
		UPDATE addr_manage
		<trim prefix="SET" suffixOverrides=",">
			<if test="addrRoad != null and addrRoad != ''">
				shipping_addr_road = #{addrRoad},
			</if>
			<if test="addrLoca != null and addrLoca != ''">
				shipping_addr_loca = #{addrLoca},
			</if>
			<if test="addrName != null and addrName != ''">
				shipping_addr_name = #{addrName},
			</if>
			<if test="addrRecipient != null and addrRecipient != ''">
				shipping_addr_recipient = #{addrRecipient},
			</if>
			<if test="addrTel != null and addrTel != ''">
				shipping_addr_tel = #{addrTel},
			</if>
			<if test="addrPhone != null and addrPhone != ''">
				shipping_addr_phone = #{addrPhone},
			</if>
			<if test="addrSeq != null and addrSeq != ''">
				shipping_addr_seq = #{memberStatus},
			</if>
			<if test="memberId != null and memberId != ''">
				member_id = #{memberId},
			</if>
		</trim>
		WHERE 
			shipping_addr_code = #{addrCode};

	</update>
	
		
	<select id="getAddrList" parameterType="String" resultMap="adminAddrResultMap">
				/* 전체 회원 배송지 조회 */
				select 
				 *
				from addr_manage;
 
	</select>
	
	
</mapper>