<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.admin.mapper.AddrMapper">
<resultMap type="Addr" id="adminAddrResultMap">
		<id 	column="shipping_addr_code"  				property="addrCode" />
		<id 	column="shipping_addr_postal"  				property="addrPostal" />
		<result column="shipping_addr_road"  				property="addrRoad"/>
		<result column="shipping_addr_loca"  				property="addrLoca"/>
		<result column="shipping_addr_detail"  				property="addrDetail"/>
		<result column="shipping_addr_name"  				property="addrName"/>
		<result column="shipping_addr_recipient"  			property="addrRecipient"/>
		<result column="shipping_addr_tel"  				property="addrTel"/>
		<result column="shipping_addr_phone"  				property="addrPhone"/>
		<result column="shipping_addr_seq"  				property="addrSeq"/>
		<result column="member_id"  						property="memberId"/>
</resultMap>
		<delete id="removeAddr" parameterType="String" >
		/* 배송지 삭제 */
		DELETE
		FROM
		 	addr_manage
		WHERE

			shipping_addr_code = #{addrCode};
		</delete>

	<select id="getAddrInfoById" parameterType="String" resultMap="adminAddrResultMap">
		/* 특정 배송지 조회 */
			select 
				 shipping_addr_code
				,shipping_addr_postal
				,shipping_addr_road
				,shipping_addr_loca
				,shipping_addr_detail
				,shipping_addr_name
				,shipping_addr_recipient
				,shipping_addr_tel
				,shipping_addr_phone
				,shipping_addr_seq
				,member_id
			from 
				addr_manage 
			where 
				shipping_addr_code = #{addrCode};
	</select>

<update id="modifyMemberLevel" parameterType="String" >
    <!-- 업체내 직원별 권한 수정 -->
    UPDATE company_position_level
    <trim prefix="SET" suffixOverrides=",">
        <if test="memberLevelName != null and memberLevelName != ''">
            member_level_name = #{memberLevelName},
        </if>
        <if test="memberManagement != null and memberManagement != ''">
            member_management = #{memberManagement},
        </if>
        <if test="contractManagement != null and contractManagement != ''">
            contract_management = #{contractManagement},
        </if>
        <if test="paymentManagement != null and paymentManagement != ''">
            payment_management = #{paymentManagement},
        </if>
        <if test="companyInfoManagement != null and companyInfoManagement != ''">
            company_info_management = #{companyInfoManagement},
        </if>
        <if test="mentoMenteeManagement != null and mentoMenteeManagement != ''">
            mento_mentee_management = #{mentoMenteeManagement},
        </if>
        <if test="adminId != null and adminId != ''">
            admin_id = #{adminId},
        </if>
        <if test="compayRegDate != null and compayRegDate != ''">
            company_reg_date = CURDATE()
        </if>
    </trim>
    WHERE
        position_level_code = #{positionLevelCode};
</update>

	
		
	<select id="getAddrList" parameterType="String" resultMap="adminAddrResultMap">
				/* 전체 회원 배송지 조회 */
				select 
				 *
				from addr_manage;
 
	</select>
	
	
</mapper>