<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.admin.mapper.AdminLevelMapper">
<resultMap type="AdminLevel" id="adminLevelResultMap">
		<id 	column="admin_level"  							property="adminLevel" />
		<result	column="admin_position"  						property="adminPosition" />
		<result	column="manage_member"  						property="adminMember" />
		<result	column="manage_contract"  						property="adminContract" />
		<result	column="manage_farm"  							property="adminFarm" />
		<result	column="manage_question"  						property="adminQuestion" />
		<result	column="manage_setting"  						property="adminSetting" />
		<result	column="manage_payment"  						property="adminPayment" />
		<result	column="manage_reg_date"  						property="adminRegDate" />
</resultMap>

			<delete id="removeAdminLevel" parameterType="String" >
					/* 관리자 등급 삭제 */
					DELETE
					FROM
					 	admin_level 
					WHERE
			
						admin_level = #{adminLevel};
				</delete>
			
			<update id="modifyAdminLevel" parameterType="String">
			/* 관리자 등급 수정  */
		    UPDATE admin_level
		    <set>
		        <if test="adminPosition != null and adminPosition != ''">
		            admin_position = #{adminPosition},
		        </if>
		        <if test="adminMember != null and adminMember != ''">
		            manage_member = #{adminMember},
		        </if>
		        <if test="adminContract != null and adminContract != ''">
		            manage_contract = #{adminContract},
		        </if>
		        <if test="adminFarm != null and adminFarm != ''">
		            manage_farm = #{adminFarm},
		        </if>
		        <if test="adminQuestion != null and adminQuestion != ''">
		            manage_question = #{adminQuestion},
		        </if>
		        <if test="adminSetting != null and adminSetting != ''">
		            manage_setting = #{adminSetting},
		        </if>
		        <if test="adminPayment != null and adminPayment != ''">
		            manage_payment = #{adminPayment},
		        </if>
		        manage_reg_date = CURDATE()
		    </set>
		    WHERE admin_level = #{adminLevel}
		</update>
	
		
	<select id="getAdminLevelList" parameterType="String" resultMap="adminLevelResultMap">
				/* 관리자 레벨 조회 */
				SELECT 
					 admin_level
					,admin_position
					,manage_member
					,manage_contract
					,manage_farm
					,manage_question
					,manage_setting
					,manage_payment
					,manage_reg_date
				FROM 
					admin_level 
	</select>
	
	
</mapper>