<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.admin.mapper.MemberMapper">
<resultMap type="Member" id="MemberResultMap">
		<id 	column="member_id"  							property="memberId" />
		<result column="member_pw"  							property="memberPw"/>
		<result column="member_name"  							property="memberName"/>
		<result column="member_phone"  							property="memberPhone"/>
		<result column="member_email"  							property="memberEmail"/>
		<result column="position_level_code"  					property="positionLevelCode"/>
		<result column="company_code"  							property="companyCode"/>
		<result column="member_reg_date"  						property="memberRegDate"/>
		<result column="member_ci"  							property="memberCi"/>
		<result column="member_status"  						property="memberStatus"/>
		<result column="dormant_member_reg_date"  				property="dormantMemberRegDate"/>
		<result column="member_level_name"						property="memberLevelName"/>
</resultMap>

		<update id="addEmployee" parameterType="String">
			UPDATE member_info
			SET
				<if test="companyCode != null and companyCode != ''">
					company_code = #{companyCode},
				</if>
				position_level_code = 'level_code_3'
			WHERE
			member_id = #{memberId};
		</update>
		<insert id="addMember" parameterType="Member">
			/* 회원 등록 */
			insert into member_info
			(member_id,member_pw,member_name,member_phone,member_email,position_level_code,company_code,member_reg_date,member_status)
			VALUES
			(#{memberId},#{memberPw},#{memberName},#{memberPhone},#{memberEmail},#{positionLevelCode},#{companyCode},CURDATE(),'normal');

		</insert>
		

		<delete id="removeMember" parameterType="String" >
		/* 회원 삭제 */
		DELETE
		FROM
		 	member_info 
		WHERE
			member_id = #{memberId};
		</delete>

<select id="getMemberInfoById" parameterType="String" resultMap="MemberResultMap">
		/* 특정 회원 조회 */
			select
				 member_id
				,member_pw
				,member_name
				,member_phone
				,member_email
				,position_level_code
				,company_code
				,member_reg_date
				,member_ci
				,member_status
				,dormant_member_reg_date
			from
				member_info
			where
				member_id = #{memberId};
	</select>

	<update id="modifyMember" parameterType="String" >
		/* 회원 정보 수정 */
		UPDATE member_info
		<trim prefix="SET" suffixOverrides=",">
			<if test="memberPw != null and memberPw != ''">
				member_pw = #{memberPw},
			</if>
			<if test="memberName != null and memberName != ''">
				member_name = #{adminName},
			</if>
			<if test="memberPhone != null and memberPhone != ''">
				member_phone = #{memberPhone},
			</if>
			<if test="memberEmail != null and memberEmail != ''">
				member_email = #{memberEmail},
			</if>
			<if test="positionLevelCode != null and positionLevelCode != ''">
				position_level_code = #{positionLevelCode},
			</if>
			<if test="memberRegDate != null and memberRegDate != ''">
				member_reg_date = #{memberRegDate},
			</if>
			<if test="memberStatus != null and memberStatus != ''">
				member_status = #{memberStatus},
			</if>
			<if test="companyCode != null and companyCode != ''">
				company_code = #{companyCode},
			</if>
		</trim>
		WHERE
			member_id = #{memberId};

	</update>
	<select id="selectMember" parameterType="String" resultMap="MemberResultMap">
				/* 특정 휴면 회원 조회 */
			select 
				 member_id
				,member_pw
				,member_name
				,member_email
				,member_phone
				,company_code
				,member_reg_date
				,dormant_member_reg_date
			
			from 
				member_info
			where
				member_status='dormant'
				,member_id = #{memberId};
	</select>

	<update id="modifyDormantMember" parameterType="String">
		   /* 휴면회원 일반회원으로 */
		    UPDATE member_info
		    SET
		        member_status = 'normal',
		        dormant_member_reg_date = null
		    WHERE
		        member_id = #{memberId};
</update>

	<update id="modifyEmployeeLevel" parameterType="Member">
		/* 업체직위수정 */
		UPDATE
			member_info
		SET
			position_level_code = #{positionLevelCode}
		WHERE
			member_id = #{memberId};
	</update>

	<select id="getEmployeeList" parameterType="String" resultMap="MemberResultMap">
		/* 업체별 직원 조회 */
		SELECT
			*
		FROM
			member_info as m
			inner join
			company_position_level as cp
			on
			m.position_level_code = cp.position_level_code
		WHERE
			m.company_code = #{companyCode} and m.member_status != 'dormant';
	</select>

	<select id="getDormantMemberList" parameterType="String" resultMap="MemberResultMap">
				/* 휴면 회원 조회 */
			select 
				 member_id
				,member_pw
				,member_name
				,member_email
				,member_phone
				,company_code
				,member_reg_date
				,dormant_member_reg_date
			
			from 
				member_info
			where
				member_status='dormant';
	</select>
		
	<select id="getMemberList" parameterType="String" resultMap="MemberResultMap">
				/* 전체 회원 조회 */
			select 
				 member_id
				,member_pw
				,member_name
				,member_email
				,member_phone
				,position_level_code
				,company_code
				,member_reg_date
				,member_ci
				,member_status
				,dormant_member_reg_date
			
			from 
				member_info
			where
				member_status='normal';
	</select>
	
	
</mapper>