<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.admin.mapper.MemberLevelMapper">
<resultMap type="MemberLevel" id="memberLevelResultMap">
		<id 	column="position_level_code"  							property="positionLevelCode" />
		<result	column="member_level_name"  							property="memberLevelName" />
		<result	column="member_management"  							property="memberManagement" />
		<result	column="contract_management"  							property="contractManagement" />
		<result	column="payment_management"  							property="paymentManagement" />
		<result	column="company_info_management"  						property="companyInfoManagement" />
		<result	column="mento_mentee_management"  						property="mentoMenteeManagement" />
		<result	column="admin_id"  										property="adminId" />
		<result	column="company_reg_date"  								property="companyRegDate" />
	</resultMap>


		<insert id="addMemberLevel" parameterType="MemberLevel">
			/* 회원 등급등록 */
			insert into company_position_level
			(position_level_code
			,member_level_name
			,member_management
			,contract_management
			,payment_management
			,company_info_management
			,mento_mentee_management
			,admin_id
			,company_reg_date)
			VALUES
			(#{positionLevelCode}
			,#{memberLevelName}
			,#{memberManagement}
			,#{contractManagement}
			,#{paymentManagement}
			,#{companyInfoManagement}
			,#{mentoMenteeManagement}
			,#{adminId}
			,now());

		</insert>

		<delete id="removeMemberLevel" parameterType="String" >
		/* 회원 등급 삭제 */
		DELETE
		FROM
		 	company_position_level 
		WHERE

			position_level_code = #{positionLevelCode};
		</delete>

	<update id="modifyMemberLevel" parameterType="String">
    <!-- 업체내 직원별 권한 수정 -->
    UPDATE company_position_level
    <trim prefix="SET" suffixOverrides=",">
        <if test="memberLevelName != null and memberLevelName != ''">
            member_level_name = #{memberLevelName},
        </if>
        <if test="memberManagement != null and memberManagement != ''">
            member_management = #{memberManagement},
        </if>
        <if test="contractManagement != null and contractManagement != ''">
            contract_management = #{contractManagement},
        </if>
        <if test="paymentManagement != null and paymentManagement != ''">
            payment_management = #{paymentManagement},
        </if>
        <if test="companyInfoManagement != null and companyInfoManagement != ''">
            company_info_management = #{companyInfoManagement},
        </if>
        <if test="mentoMenteeManagement != null and mentoMenteeManagement != ''">
            mento_mentee_management = #{mentoMenteeManagement},
        </if>
        <if test="adminId != null and adminId != ''">
            admin_id = #{adminId},
        </if>
            company_reg_date = CURDATE()
    </trim>
    	WHERE position_level_code = #{positionLevelCode};
	</update>

		
	<select id="getMemberLevelList" parameterType="String" resultMap="memberLevelResultMap">
				/* 회원 등급 조회 */
				SELECT 
					 position_level_code 
					,member_level_name
					,member_management
					,contract_management
					,payment_management
					,company_info_management
					,mento_mentee_management
					,admin_id
					,company_reg_date 
				FROM 
					company_position_level;

					
	</select>
	
	
</mapper>