<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks46team02.admin.mapper.WithdrawalMemberMapper">
<resultMap type="WithdrawalMember" id="withdrawalMemberResultMap">
		<id 	column="withdrawal_member_code"  						property="WithdrawalMemberCode" />
		<result column="withdrawal_member_id"  							property="WithdrawalMemberId"/>
		<result column="withdrawal_member_reason"  						property="WithdrawalMemberReason"/>
		<result column="withdrawal_member_ci"  							property="WithdrawalMemberMemberCi"/>
		<result column="withdrawal_member_phone"  						property="WithdrawalMemberPhone"/>
		<result column="withdrawal_member_date"  						property="WithdrawalMemberDate"/>
</resultMap>


		<insert id="addwithdrawalMember" parameterType="AdminLevel">
			/* 탈퇴 회원 등록 */
			insert into withdrawal_member
			(withdrawal_member_code,withdrawal_member_id,withdrawal_member_reason,withdrawal_member_phone,withdrawal_member_date)
			VALUES
			(#{WithdrawalMemberCode},#{WithdrawalMemberId},'관리자 삭제',#{WithdrawalMemberPhone},now());

		</insert>

		<delete id="removewithdrawalMember" parameterType="String" >
			/* 탈퇴한 회원 삭제 */
			DELETE
			FROM
			 	withdrawal_member
			WHERE
	
				withdrawal_member_code = #{WithdrawalMemberCode};
		</delete>
		<select id="getWithdrawalMember" parameterType="String" resultMap="withdrawalMemberResultMap">
			select 
				*
			from 
				withdrawal_member;
		</select>
</mapper>