`<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mypageLayout}">
<head>
	<style>
		input.form-control {
			width: 200px;
		}

		input {
			width: 80px; /* 원하는 크기로 조정 가능 */
			height: 20px;
		}
		input[type=checkbox] {
			transform: scale(1.5);
		}
	</style>
</head>
<th:block layout:fragment="customJs">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		// 취소버튼
		$('.cancel').click(function(){
			history.go(-1);
		});
		$('form').submit(function(event) {
			let memberLevelName = $('input[name="memberLevelName"]').val();
			if (typeof memberLevelName == 'undefined' || memberLevelName == null || memberLevelName == '') {
				Swal.fire({
					icon: 'warning',
					title: `${memberLevelName}를 입력해주세요.`
				}).then((result) => {
					if (result.isConfirmed) {
						$('input[name="memberLevelName"]').focus();
						Swal.close();
					}
				})
			}
		});
		function updateHiddenField(checkbox, hiddenFieldId) {
			document.getElementById(hiddenFieldId).value = checkbox.checked ? '1' : '0';}
	</script>
</th:block>

<th:block layout:fragment="customContent">
	<div class="page-title">
		<div class="title">
			<div class="col-md-6">

				<div class="x_panel">
					<div class="x_title">
						<h2>회원 등급 등록</h2>
						<button type="reset" class="btn btn-white" style="float: right"> <i class="fa fa-repeat"></i></button>
						<div class="clearfix"></div>
					</div>

					<div class="x_content">
						<br>
						<form id="addMemberLevelForm" class="form-horizontal form-label-left"
							  th:action="@{/admin/addMemberLevel}" method="post">
							<table class="table table-hover">
								<thead>
								<tr>
									<th ></th>
									<th> </th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>직원별 권한 명칭</td>
									<td><input type="text" class="form-control" id ="memberLevelName" name="memberLevelName"> </td>
								</tr>
								<tr>
									<td>사원 관리</td>
									<td>
										<input type="hidden" id="hiddenMemberManagement" name="memberManagement" value="0" />
										<input type="checkbox" class="check-self" id="memberManagement" onchange="updateHiddenField(this, 'hiddenMemberManagement')">
									</td>
								</tr>
								<tr>
									<td>계약 관리</td>
									<td>
										<input type="hidden" id="hiddenContractManagement" name="contractManagement" value="0" />
										<input type="checkbox" class="check-self" id="contractManagement" onchange="updateHiddenField(this, 'hiddenContractManagement')">
									</td>
								</tr>
								<tr>
									<td>결제 관리</td>
									<td>
										<input type="hidden" id="hiddenPaymentManagement" name="paymentManagement" value="0" />
										<input type="checkbox" class="check-self" id="paymentManagement" onchange="updateHiddenField(this, 'hiddenPaymentManagement')">
									</td>
								</tr>
								<tr>
									<td>업체정보 관리</td>
									<td>
										<input type="hidden" id="hiddenCompanyInfoManagement" name="companyInfoManagement" value="0" />
										<input type="checkbox" class="check-self" id="companyInfoManagement" onchange="updateHiddenField(this, 'hiddenCompanyInfoManagement')">
									</td>
								</tr>
								<tr>
									<td>멘토멘티 관리</td>
									<td>
										<input type="hidden" id="hiddenMentoMenteeManagement" name="mentoMenteeManagement" value="0" />
										<input type="checkbox" class="check-self" id="mentoMenteeManagement" onchange="updateHiddenField(this, 'hiddenMentoMenteeManagement')">
									</td>
								</tr>

								</tbody>
							</table>

							<div class="col-md-9 col-sm-9  offset-md-5">
								<button type="submit" class="btn btn-dark add" >등록</button>
								<button type="reset" class="btn btn-dark cancel">취소</button>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</th:block>
</html>`