<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/mypage}">
<head>
</head>
<th:block layout:fragment="customJs">
	<script>
	
	// 취소버튼
    $('.cancel').click(function(){
    	history.go(-1);
    });
    /* 아이디 중복 체크 */
    $('.checkId').click(function(){
        const memberIdEle = $('#memberId'); // 아이디를 입력하는 input 요소를 찾아옵니다.
        let memberId = memberIdEle.val(); // 입력된 아이디 값을 가져옵니다.
        if (typeof memberId == 'undefined' || memberId == null || memberId == '') {
        	 Swal.fire({
                 icon: 'error',                         // Alert 타입
                 title: '아이디 값을 입력해주세요.',         // Alert 제목
             });
       	  	memberIdEle.focus(); // 아이디를 입력하는 input 요소에 포커스를 줍니다.
       	  	return;
        }
        $.ajax({
            type: 'POST', // POST 방식으로 요청을 보냅니다.
            url: '/isDuplicateId', // 아이디 중복 체크를 위한 URL을 지정합니다.
            data: { 'memberId' : memberId }, // 요청 데이터에 입력된 아이디 값을 포함시킵니다.
            dataType: 'json', // 반환되는 데이터의 타입을 JSON으로 지정합니다.
            success: function(isDuplicate) {
                if(isDuplicate){
                	  Swal.fire({
                          icon: 'error',                         // Alert 타입
                          title: '중복된 아이디가 존재합니다.',         // Alert 제목
                          text: '다른 아이디로 다시 시도해주시길 바랍니다.',  // Alert 내용
                      });
                	  memberIdEle.val(''); // 입력된 아이디 값을 지웁니다.
                	  memberIdEle.focus(); // 아이디를 입력하는 input 요소에 포커스를 줍니다.
                }
               
                else{
                	const Toast = Swal.mixin({
                	    toast: true,
                	    position: 'center-center',
                	    showConfirmButton: false,
                	    timer: 1000,
                	    timerProgressBar: true,
                	    didOpen: (toast) => {
                	        toast.addEventListener('mouseenter', Swal.stopTimer)
                	        toast.addEventListener('mouseleave', Swal.resumeTimer)
                	    }
                	})

                	Toast.fire({
                	    icon: 'success',
                	    title: '등록 가능한 아이디 입니다.'
                	})
                	$('#addMemberForm input').prop('disabled', false);
					$('#addMemberForm button').prop('disabled', false);
					$('#addMemberForm select').prop('disabled', false);
                }
            }
        });
    });
    
    /* 등록버튼 + 유효성 검사  */
    $('.add').click(function() {

  	  var arr = [
  		    {id: '#memberId', 			name: '아이디', value: $('#memberId').val()},
  		    {id: '#memberPw', 			name: '비밀번호', value: $('#memberPw').val()},
  		    {id: '#memberName', 		name: '이름', value: $('#memberName').val()},
  		    {id: '#memberPhone', 		name: '휴대폰번호', value: $('#memberPhone').val()},
  		    {id: '#memberEmail', 		name: '이메일', value: $('#memberEmail').val()},
  		    {id: '#positionLevelCode', 	name: '직원별권한코드', value: $('#positionLevelCode').val()}
  		  ];
  	  console.log(arr);
		  var isValid = true;
		  $.each(arr, function(index, item) {
		    var data = $(item.id).val();
		    if (typeof data == 'undefined' || data == null || data == '') {
		      Swal.fire({
		        icon: 'warning',  // 여기다가 아이콘 종류를 쓰면 됩니다.                     
		        title: `${item.name}를 입력해주세요.` 
		      }).then((result) => {
		        if (result.isConfirmed) { // 모달창에서 확인을 누르면 true가 되는 속성
		          $(item.id).focus();
		          Swal.close(); // 모달창이 닫힐 때까지 기다림
		        }
		      });
		      isValid = false;
		      return false; // each()를 중단합니다.
		    }
		  });
		
		  if (!isValid) {
		    return false; // form 전송을 막습니다.
		  }
		  if(isValid){
			addMemberForm.submit();
		  }
		});
</script>
</th:block>
<body>
	<th:block layout:fragment="customContent">
		<div class="x_panel">
			<div class="x_title">
				<h2>회원 등록</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br />
				<form id="addMemberForm" class="form-horizontal form-label-left"
					th:action="@{/admin/addMember}" method="post">
					<div class="form-group row ">
						<label class="control-label col-md-3 col-sm-3"
							for="sample4_postcode">아이디</label>
						<div class="col-md-3 col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="memberId" name="memberId"
									placeholder=""> <span
									class="input-group-btn">
									<button type="button" class="btn btn-dark checkId">아이디 중복체크</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group row ">
						<label class="control-label col-md-3 col-sm-3 "> 비밀번호
						</label>
						<div class="col-md-3 col-sm-3 ">
							<input type="password" class="form-control"
								id="memberPw" name="memberPw" placeholder="" disabled="disabled">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3 col-sm-3  "> 이름 </label>
						<div class="col-md-3 col-sm-3 ">
							<input type="text" class="form-control"
								id="memberName" name="memberName" placeholder="" disabled="disabled">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3 col-sm-3 "> 전화번호</label>
						<div class="col-md-3 col-sm-3 ">
							<input type="text" class="form-control" id="memberPhone" name="memberPhone" disabled="disabled">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3 col-sm-3 ">이메일</label>
						<div class="col-md-3 col-sm-3 ">
								<input type="email" class="form-control" id="memberEmail" name="memberEmail" disabled="disabled">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3 col-sm-3 "> 직원별 권한코드</label>
						<div class="col-md-3 col-sm-3 ">
							<select class="form-control" id="positionLevelCode" name="positionLevelCode" disabled="disabled">
							<option></option>
								<th:block th:if="${memberLevelList != null}">
									<option th:each="l : ${memberLevelList}"
										th:value="${l.positionLevelCode}" th:text="${l.memberLevelName}"></option>
								</th:block>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3 col-sm-3 "> 업체코드</label>
						<div class="col-md-3 col-sm-3 ">
							<select class="form-control" id="companyCode" name="companyCode" disabled="disabled">
							<option></option>
								<th:block th:if="${companyList != null}">
									<option th:each="l : ${companyList}"
										th:value="${l.companyCode}" th:text="${l.companyCode}"></option>
								</th:block>
							</select>
						</div>
					</div>
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9  offset-md-5">
							<button type="button" class="btn btn-dark add" disabled="disabled">등록</button>
							<button type="reset" class="btn btn-dark cancel">취소</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</th:block>

</body>
</html>