<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/mypage}">
<head>
</head>
<th:block layout:fragment="customJs">
	<script>
	
	

	// 취소버튼
    $('.cancel').click(function(){
    	history.go(-1);
    });
    /* 아이디 중복 체크 */
    $('.checkId').click(function(){
        const adminIdEle = $('#adminId'); // 아이디를 입력하는 input 요소를 찾아옵니다.
        let adminId = adminIdEle.val(); // 입력된 아이디 값을 가져옵니다.

        if(typeof adminId === 'undefined' || adminId == null || adminId === ''){
            alert('아이디를 입력해주세요');
            adminIdEle.focus();
            return false;
        }

        $.ajax({
            type: 'POST', // POST 방식으로 요청을 보냅니다.
            url: '/admin/idCheckAdmin', // 아이디 중복 체크를 위한 URL을 지정합니다.
            data: { 'adminId' : adminId }, // 요청 데이터에 입력된 아이디 값을 포함시킵니다.
            dataType: 'json', // 반환되는 데이터의 타입을 JSON으로 지정합니다.
            success: function(isDuplicate) {
                if(!isDuplicate){
                	  Swal.fire({
                          icon: 'error',                         // Alert 타입
                          title: '중복된 아이디가 존재합니다.',         // Alert 제목
                          text: '다른 아이디로 다시 시도해주시길 바랍니다.',  // Alert 내용
                      });
                    adminIdEle.val(''); // 입력된 아이디 값을 지웁니다.
                    adminIdEle.focus(); // 아이디를 입력하는 input 요소에 포커스를 줍니다.
                }
                else{
                	const Toast = Swal.mixin({
                	    toast: true,
                	    position: 'center-center',
                	    showConfirmButton: false,
                	    timer: 1000,
                	    timerProgressBar: true,
                	    didOpen: (toast) => {
                	        toast.addEventListener('mouseenter', Swal.stopTimer)
                	        toast.addEventListener('mouseleave', Swal.resumeTimer)
                	    }
                	})

                	Toast.fire({
                	    icon: 'success',
                	    title: '등록 가능한 아이디 입니다.'
                	})
                	$('#addAdminForm input').prop('disabled', false);
					$('#addAdminForm button').prop('disabled', false);
					$('#addAdminForm select').prop('disabled', false);
                }
            }
        });
    });
    $('.add').click(function() {
        var arr = [
            {id: '#adminId', name: '아이디'},
            {id: '#adminPw', name: '비밀번호'},
            {id: '#adminName', name: '이름'},
            {id: '#adminEmail', name: '이메일'},
            {id: '#adminLevel', name: '관리자등급'},
            {id: '#adminPhone', name: '휴대폰번호'}
        ];

        console.log(arr);
      
        var isValid = true;
        $.each(arr, function(index, item) {
            var data = $(item.id).val();
            if (typeof data == 'undefined' || data == null || data == '') {
                Swal.fire({
                    icon: 'warning',
                    title: `${item.name}를 입력해주세요.`
                }).then((result) => {
                    if (result.isConfirmed) {
                        $(item.id).focus();
                        Swal.close();
                    }
                });
                isValid = false;
                return false;
            }
        });

        if (!isValid) {
            return false;
        }
        if (isValid) {
        	addAdminForm.submit();
        }
    });

</script>
</th:block>
<body>
	<th:block layout:fragment="customContent">
		<div class="x_panel">
			<div class="x_title">
				<h1>관리자 등록</h1>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<br />
				<form id="addAdminForm" class="form-horizontal form-label-left"
					th:action="@{/admin/addAdmin}" method="post">
					<div class="form-group row ">
						<label class="control-label col-md-3 col-sm-3"
							for="sample4_postcode">관리자 아이디</label>
						<div class="col-md-3 col-sm-4">
							<div class="input-group">
								<input type="text" class="form-control" id="adminId" name="adminId"
									placeholder=""> <span
									class="input-group-btn">
									<button type="button" class="btn btn-dark checkId">아이디 중복체크</button>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group row ">
						<label class="control-label col-md-3 col-sm-3 "> 관리자 비밀번호
						</label>
						<div class="col-md-3 col-sm-3 ">
							<input type="password" class="form-control"
								id="adminPw" name="adminPw" placeholder="" disabled="disabled">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3 col-sm-3  "> 관리자 이름 </label>
						<div class="col-md-3 col-sm-3 ">
							<input type="text" class="form-control"
								id="adminName" name="adminName" placeholder="" disabled="disabled">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3 col-sm-3 "> 이메일</label>
						<div class="col-md-3 col-sm-3 ">
							<input type="email" class="form-control" id="adminEmail" name="adminEmail" disabled="disabled">
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3 col-sm-3 ">관리자 등급</label>
						<div class="col-md-3 col-sm-3 ">
							<select class="form-control" id="adminLevel" name="adminLevel" disabled="disabled">
								<option></option>
								<th:block th:if="${adminLevelList1 != null}">
									<option th:each="l : ${adminLevelList1}"
										th:unless="${l.adminLevel=='0'}" th:value="${l.adminLevel}" th:text="${l.adminPosition}"></option>
								</th:block>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label class="control-label col-md-3 col-sm-3 "> 전화 번호</label>
						<div class="col-md-3 col-sm-3 ">
							<input type="text" class="form-control" id="adminPhone" name="adminPhone"  disabled="disabled">
							
						</div>
					</div>
					<div class="ln_solid"></div>
					<div class="form-group">
						<div class="col-md-9 col-sm-9  offset-md-5">
							<button type="button" class="btn btn-dark add" disabled="disabled">등록</button>
							<button type="reset" class="btn btn-dark cancel">취소</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</th:block>

</body>
</html>