<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypageLayout}">

<head>
<style >
input {
	  width: 80px; /* 원하는 크기로 조정 가능 */
	  height: 20px;
	}
	.modify,
	.delete,
	.save,
	.cancel {
	  font-size: smaller; /* 원하는 크기로 변경 가능 */
	  padding: 5px 10px; /* 내용과 버튼의 크기 조정 */
	  
	}
</style>
</head>
<th:block layout:fragment="customJs">
<script>
/* 관리자 등급 추가 */
$(document).ready(function() {
  $('button.btn-primary').click(function() {
    window.location.href = '/admin/addAdminLevel';
  });
});

$(document).ready(function() {
	  $('table tbody').on('click', '.modify', function() {
	    var tr = $(this).closest('tr');
	    var modifyButton = $(this);
	    var deleteButton = tr.find('.delete');
	    var prevValues = []; // 이전 값 저장할 배열
	    tr.find('td:nth-child(n+2):nth-child(-n+8)').each(function() {
	      var value = $(this).text();
	      prevValues.push(value); // 이전 값 저장
	      console.log(prevValues);
	      var input;
	      if ($(this).index() === 2 || $(this).index() === 3 || $(this).index() === 4 || $(this).index() === 5 || $(this).index() === 6 || $(this).index() === 7) {
	        input = $('<select>').append($('<option>').text('O').val(1)).append($('<option>').text('X').val(0));
	      } else {
	        input = $('<input>').val(value);
	      }
	      $(this).html(input);
	    });
	    modifyButton.text('저장');
	    modifyButton.removeClass('modify').addClass('save');
	    deleteButton.text('취소');
	    deleteButton.removeClass('delete').addClass('cancel'); // delete 클래스 제거하고 cancel 클래스 추가
	    // 이전 값 대신 현재 값을 attribute에 저장
	    deleteButton.attr('prev-values', prevValues);
	  });

	  $('table tbody').on('click', '.cancel', function(){
	    var tr = $(this).closest('tr');
	    var currentValues = $(this).attr('prev-values').split(","); // 현재 값 배열 가져오기
	    console.log(currentValues);
	    tr.find('td:nth-child(n+2):nth-child(-n+8)').each(function(index) {
	      var value = currentValues[index];
	      if(value==1){
	        value = "O";
	      }
	      else if(value==0){
	        value ="X";
	      }
	      // select 요소 삭제
	      if ($(this).find('select').length > 0) {
	        $(this).html(value);
	      } else {
	        $(this).text(value);
	      }
	    });
	    var saveButton = tr.find('.save');
	    var cancelButton = tr.find('.cancel'); // 클래스 변경
	    saveButton.text('수정');
	    saveButton.removeClass('save').addClass('modify');
	    cancelButton.text('삭제');
	    cancelButton.removeClass('cancel').addClass('delete'); // cancel 클래스 제거하고 delete 클래스 추가
	  });
	  $('table tbody').on('click', '.save', function(){
		  var tr = $(this).closest('tr');
		  var adminLevel = tr.find('td:eq(0)').text(); 
		  var adminPosition = 		tr.find('td:eq(1) input').val();
		  var adminMember = 		tr.find('td:eq(2) select').val();
		  var adminContract = 		tr.find('td:eq(3) select').val();
		  var adminFarm = 		tr.find('td:eq(4) select').val();
		  var adminQuestion = 		tr.find('td:eq(5) select').val();
		  var adminSetting =	tr.find('td:eq(6) select').val();
		  var adminPayment =	tr.find('td:eq(7) select').val();

		  // 필드별로 값을 가져옵니다.
		 var deleteButton = tr.find('.cancel'); // deleteButton 변수 정의
		 var currentValues = deleteButton.attr('prev-values').split(","); // 수정된 값 배열 가져오기
               if (typeof adminPosition == 'undefined' || adminPosition == null || adminPosition == '') {
                   Swal.fire({
                       icon: 'warning',  // 여기다가 아이콘 종류를 쓰면 됩니다.
                       title: `관리자 직위를 입력해주세요.`
                   }).then((result) => {
                       if (result.isConfirmed) { // 모달창에서 확인을 누르면 true가 되는 속성
                           $(adminPosition).focus();
                           Swal.close(); // 모달창이 닫힐 때까지 기다림
                       }
                   });
               }
               else{
		  $.ajax({
		    type: 'POST',
		    url: '/admin/modifyAdminLevel',
		    data: {
		    	  adminLevel: 		adminLevel,
		    	  adminPosition: 	adminPosition,
		    	  adminMember: 		adminMember,
		    	  adminContract:	adminContract,
		    	  adminFarm: 		adminFarm,
		    	  adminQuestion: 	adminQuestion,
		    	  adminSetting: 	adminSetting,
		    	  adminPayment: 	adminPayment
		    	},
		    success: function() {
		      alert('성공했습니다.');
		      currentValues[0] = adminPosition; 
		      currentValues[1] = adminMember;
		      currentValues[2] = adminContract;
		      currentValues[3] = adminFarm;
		      currentValues[4] = adminQuestion;
		      currentValues[5] = adminSetting;
		      currentValues[6] = adminPayment;

		      tr.find('td:nth-child(n+2):nth-child(-n+8)').each(function(index) {
		        var value = currentValues[index];
		        console.log(value);
		        if (index >= 1 && index <= 6) {
		          value = value == 1 ? "O" : "X";
		        }
		        
		        // select 요소 삭제
		        if ($(this).find('select').length > 0) {
		          $(this).html(value);
		        } else if ($(this).find('input').length > 0) {
		          $(this).text(value);
		        }
		      });
			    var saveButton = tr.find('.save');
			    var cancelButton = tr.find('.cancel'); // 클래스 변경
			    saveButton.text('수정');
			    saveButton.removeClass('save').addClass('modify');
			    console.log(saveButton);
			    cancelButton.text('삭제');
			    cancelButton.removeClass('cancel').addClass('delete'); // cancel 클래스 제거하고 delete 클래스 추가
			  	console.log(cancelButton);
			  
		    },
		    error: function() {
		      alert('서버와 통신 중 오류가 발생했습니다.');
		      
		    }
		  })};
		});
	  /* 관리자 등급 삭제 */
	  $('table tbody').on('click', '.delete', function(){
			  (async () => {
			    const { value: adminPw } = await Swal.fire({
			      title: "당신의 비밀번호를 입력해주세요.",
			      input: "password",
			      inputPlaceholder: "대소문자 구분해서 입력해주세요",
			    });
			    var tr = $(this).closest('tr');
			    var adminLevel = tr.find('td:eq(0)').text();
			    var adminPosition = tr.find('td:eq(1)').text();
                /* 비밀번호 체크 */
			    $.ajax({
			      type: "POST",
			      url: "/admin/pwCheckAdmin",
			      data: {
			    	 adminPw: adminPw,
			      },
			      success: function (pwCheck) {
			        if (pwCheck) {
			          Swal.fire({
			            title: "정말로 " + adminPosition+ " 등급을 삭제하시겠습니까?",
			            text: "이후에 다시 되돌릴수없습니다.",
			            icon: "warning",
			            showCancelButton: true,
			            confirmButtonColor: "#3085d6",
			            cancelButtonColor: "#d33",
			            confirmButtonText: "삭제",
			            cancelButtonText: "취소",
			            reverseButtons: true,
			          }).then((result) => {
			            if (result.isConfirmed) {
			              $.ajax({
			                type: "POST",
			                url: "/admin/removeAdminLevel",
			                data: {
			                adminLevel: adminLevel,
			                },
			                success: function () {
			                  Swal.fire("삭제가 완료되었습니다.");
			                  tr.remove();
			                },
			                error: function () {
			                  Swal.fire({
			                    icon: "error",
			                    title: "이 등급을 사용한 아이디가 존재합니다.",
			                    text: "수정하신후 다시 시도해주시길 바랍니다.",
			                  });
			                },
			              });
			            }
			          });
			        } else {
			          Swal.fire({
			            icon: "error",
			            title: "비밀번호가 일치하지 않습니다.",
			            text: "다시 확인후 입력해주시길 바랍니다.",
			          });
			        }
			      },
			    });
			  })();
			});
	});



</script>
</th:block>
<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2>관리자 등급 조회</h2>

                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">


                                      <table id="datatable"
                                           class="table table-striped table-bordered"
                                           >
                                        <thead>
                                        <tr>
                                            <th>관리자 등급 코드</th>
                                            <th>관리자 직위</th>
                                            <th>회원 관리</th>
                                            <th>계약 관리</th>
                                            <th>사육장 관리</th>
                                            <th>고객 문의</th>
		                                    <th>플랫폼 설정</th>
                                            <th>결제 관리</th>
                                            <th>관리자 등록일자</th>
                                            <th></th>
        									<th></th>
                                        </tr>
                                        </thead>
                                          <tbody>
											<tr th:unless="${adminLevelList == null}" th:each="l : ${adminLevelList}">
												<td th:text="${l.adminLevel}"></td>
												<td th:text="${l.adminPosition}"></td>
												<td>
												 <span th:if="${l.adminMember == '1'}">O</span>
												  <span th:if="${l.adminMember == '0'}">X</span>
												</td>
												<td>
												 <span th:if="${l.adminContract == '1'}">O</span>
												  <span th:if="${l.adminContract == '0'}">X</span>
												</td>
												<td>
												 <span th:if="${l.adminFarm == '1'}">O</span>
												  <span th:if="${l.adminFarm == '0'}">X</span>
												</td>
												<td>
												 <span th:if="${l.adminQuestion == '1'}">O</span>
												  <span th:if="${l.adminQuestion == '0'}">X</span>
												</td>
												<td>
												 <span th:if="${l.adminSetting == '1'}">O</span>
												  <span th:if="${l.adminSetting == '0'}">X</span>
												</td>
												<td>
												 <span th:if="${l.adminPayment == '1'}">O</span>
												  <span th:if="${l.adminPayment == '0'}">X</span>
												</td>
												<td th:text="${l.adminRegDate}"></td>
                                                <td th:if="${l.adminLevel != '0'}">                                            
                                            		<button class="btn btn-dark modify" type="button">수정</button>
                                            	</td>
                                            	<td th:if="${l.adminLevel != '0'}">
                                            		<button class="btn btn-dark delete" type="button" >삭제</button>
                                                </td>
                                                 <td th:if="${l.adminLevel == '0'}"></td>
                                                 <td th:if="${l.adminLevel == '0'}"></td>
											</tr>
										</tbody>
                                    </table>
                                </div>
                                	<div class="col-md-12 text-right">
							      		<button class="btn btn-primary float-right" type="button" id="addbutton">관리자 등급 등록</button>
							    	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>
</html>