<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypageLayout}">

<head>
<style >
input {
	  width: 200px; /* 원하는 크기로 조정 가능 */
	  height: 20px;
	}
.cancel {
  display : none;
}
input[type="number"] {
  width: 50px;
  height:20px;
}

	.modify,
	.delete,
	.save,
	.cancel {
	  font-size: smaller; /* 원하는 크기로 변경 가능 */
	  padding: 5px 10px; /* 내용과 버튼의 크기 조정 */
	  
	}
</style>
</head>
<th:block layout:fragment="customJs">
<script>
/* 관리자 등급 추가 */
  $('button.btn-primary').click(function() {
    window.location.href = '/admin/addAdminLevel';
  });

	  $('table tbody').on('click', '.modify', function() {
		  $('.cancel').show();
	    var tr = $(this).closest('tr');
	    var modifyButton = $(this);
	    var cancelButton = tr.find('.cancel');
	    var prevValues = []; // 이전 값 저장할 배열
	    tr.find('td:nth-child(n+3):nth-child(-n+4),td:nth-child(6)').each(function() {
	      var value = $(this).text();
	      prevValues.push(value); // 이전 값 저장
	      var input;

             if($(this).index() == 3){
	    	  input = $('<input>').val(value).attr('type', 'number').attr('min', '0');
		      $(this).html(input);
	      }
            else{
                input = $('<input>').val(value);
                $(this).html(input);
            }
        });
	    modifyButton.text('저장');
	    modifyButton.removeClass('modify').addClass('save');
	    cancelButton.attr('prev-values', prevValues);
	  });

	  $('table tbody').on('click', '.cancel', function(){
	    var tr = $(this).closest('tr');
	    var currentValues = $(this).attr('prev-values').split(","); // 현재 값 배열 가져오기
	    tr.find('td:nth-child(n+3):nth-child(-n+4),td:nth-child(6)').each(function(index) {
	    var value = currentValues[index];
	    var saveButton = tr.find('.save');
	    saveButton.text('수정');
	    saveButton.removeClass('save').addClass('modify');
	    if ($(this).find('select').length > 0) {
	        $(this).html(value);
	      } else {
	        $(this).text(value);
	      }
	    });
	    $('.cancel').hide();
	  });
	   
	  $('table tbody').on('click', '.save', function(){
		  var tr = $(this).closest('tr');
		  var contStandCode = 		tr.find('td:eq(0)').text();
		  var contStandInfo = 		tr.find('td:eq(2) input').val();
		  var contStandValue = 		tr.find('td:eq(3) input').val();
		  var adminId = "[[${session.sessionId}]]";
		  console.log(contStandInfo);
		  console.log(contStandValue);
		  console.log(adminId);
		  // 필드별로 값을 가져옵니다.
		 var saveButton = tr.find('.save'); // deleteButton 변수 정의
		 var cancelButton = tr.find('.cancel');
		 var currentValues = cancelButton.attr('prev-values').split(","); // 수정된 값 배열 가져오기
		  $.ajax({
		    type: 'POST',
		    url: '/admin/modifyContractStandard',
		    data: {
		    	contStandCode:   	contStandCode,
		    	contStandInfo: 		contStandInfo,
		    	contStandValue: 	contStandValue,
		    	adminId:			adminId
		    	},
		    success: function() {
		      alert('성공했습니다.');
		      currentValues[0] = contStandInfo; 
		      currentValues[1] = contStandValue;
		      currentValues[2] = adminId;
		      

		      tr.find('td:nth-child(n+3):nth-child(-n+4),td:nth-child(7)').each(function(index) {
		        var value = currentValues[index];
		        if ($(this).find('input').length > 0) {
		          $(this).html(value);
		        }
		        else{$(this).text(value);}
		        
		      });
			    var saveButton = tr.find('.save');
			    saveButton.text('수정');
			    saveButton.removeClass('save').addClass('modify');
			    $('.cancel').hide();
			  
		    },
		    error: function() {
		      alert('서버와 통신 중 오류가 발생했습니다.');
		      
		    }
		  });
		});

</script>
</th:block>
<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2>계약 승인 기준 </h2>

                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">


                                      <table id="datatable-responsive"
                                           class="table table-striped table-bordered dataTable no-footer dtr-inline"
                                           >
                                        <thead>
                                        <tr>
                                            <th>승인기준 코드</th>
                                            <th>승인 기준</th>
                                            <th>기준 설명</th>
                                            <th>기준값</th>
                                            <th>단위</th>
                                            <th>계약 설명</th>
                                            <th>계약 승인 등록 일자</th>
                                            <th>등록 관리자</th>
                                            <th></th>
        									<th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:unless="${contractStandardList == null}" th:each="l : ${contractStandardList}">
                                            <td th:text="${l.contStandCode}"></td>
                                            <td th:text="${l.contAppStand}"></td>
                                            <td th:text="${l.contStandInfo}"></td>
                                            <td th:text="${l.contStandValue}"></td>
                                            <td th:text="${l.contStandUnit}"></td>
                                            <td th:text="${l.standardDescription}"></td>
                                            <td th:text="${l.contStandRegDate}"></td>
                                            <td th:text="${l.adminId}"></td>
                                            <td>                                            
                                           		<button class="btn btn-dark modify" type="button">수정</button>
                                            </td>
                                            <td>                                            
                                           		<button class="btn btn-dark cancel" type="button" >취소</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>       
                                </div>
                                	<div class="col-md-12 text-right">
							      		<button class="btn btn-primary float-right" type="button" id="addbutton">관리자 등급 등록</button>
							    	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>
</html>