<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypageLayout}">

<head>

</head>
<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2>계약 승인 기준 조회</h2>

                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">


                                    <table id="datatable-buttons"
                                           class="table table-striped table-bordered dataTable no-footer dtr-inline"
                                           style="width: 100%;" role="grid" aria-describedby="datatable-buttons_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 180px;"
                                                aria-label="Name: activate to sort column ascending">승인기준 코드
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Position: activate to sort column ascending">승인 기준
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Office: activate to sort column ascending">기준 설명
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 150px;"
                                                aria-label="Age: activate to sort column ascending">기준값
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 120px;"
                                                aria-label="Age: activate to sort column ascending">단위
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 187px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">계약 승인 등록 일자
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 187px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">관리자 아이디
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
            									rowspan="1" colspan="1" style="width: 70px;"
            									aria-label="Start date: activate to sort column ascending"
            									aria-sort="descending">
        									</th>                                   
                                            
                                        

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:unless="${contractStandardList == null}" th:each="l : ${contractStandardList}">
                                            <td th:text="${l.contStandCode}"></td>
                                            <td th:text="${l.contAppStand}"></td>
                                            <td th:text="${l.contStandInfo}"></td>
                                            <td th:text="${l.contStandValue}"></td>
                                            <td th:text="${l.contStandUnit}"></td>
                                            <td th:text="${l.contStandRegDate}"></td>
                                            <td th:text="${l.adminId}"></td>
                                            <td>                                            
                                            <a th:href="@{/admin/addAddr}"><i class="fa fa-edit"></i>수정 &nbsp;</a>
                                            <a href="#"><i class="fa fa-close"></i> 삭제</a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>                                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>
</html>