<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypageLayout}">

<head>
<style >
	.delete{
	  font-size: smaller; /* 원하는 크기로 변경 가능 */
	  padding: 5px 10px; /* 내용과 버튼의 크기 조정 */
	  
	}
</style>
</head>
<th:block layout:fragment="customJs">
<script>
$(".delete").click(function () {
	  (async () => {
	    const { value: adminPw } = await Swal.fire({
	      title: "당신의 비밀번호를 입력해주세요.",
	      text: "",
	      input: "password",
	      inputPlaceholder: "대소문자 구분해서 입력해주세요",
	    });
	    const sessionId = "[[${session.sessionId}]]";
	    var tr = $(this).closest('tr');
	    console.log("tr     "+tr);
	    var loginCode = tr.find('td:eq(0)').text(); 
	    console.log("loginCode     "+loginCode);
	    
	    console.log(sessionId);
	    $.ajax({
	      type: "POST",
	      url: "/admin/pwCheckAdmin",
	      data: {
	        adminId: sessionId,
	      },
	      success: function (pwAdminCheck) {
	    	  console.log("pwAdminCheck      "+pwAdminCheck);
	        if (pwAdminCheck==adminPw) {
	          Swal.fire({
	            title: "정말로 삭제하시겠습니까?",
	            text: "이후에 다시 되돌릴수없습니다.",
	            icon: "warning",
	            showCancelButton: true,
	            confirmButtonColor: "#3085d6",
	            cancelButtonColor: "#d33",
	            confirmButtonText: "삭제",
	            cancelButtonText: "취소",
	            reverseButtons: true,
	          }).then((result) => {
	            if (result.isConfirmed) {
	              $.ajax({
	                type: "POST",
	                url: "/admin/removeLogin",
	                data: {
	                	loginCode: loginCode, // 관리자 아이디를 입력해주세요.
	                },
	                success: function () {
	                  Swal.fire("삭제가 완료되었습니다.");
	                  tr.remove();
	                  
	                },
	                error: function () {
	                  Swal.fire({
	                    icon: "error",
	                    title: "삭제에 실패했습니다.",
	                    text: "다시 시도해 주세요.",
	                  });
	                },
	              });
	            }
	          });
	        } else {
	          Swal.fire({
	            icon: "error",
	            title: "비밀번호가 일치하지 않습니다.",
	            text: "다시 확인후 입력해주시길 바랍니다.",
	          });
	        }
	      },
	    });
	  })();
	});
</script>
</th:block>
<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2>로그인 기록 조회</h2>

                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">


                                    <table id="datatable"
                                           class="table table-striped table-bordered dataTable no-footer dtr-inline"
                                           style="width: 100%;" role="grid" aria-describedby="datatable-buttons_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 180px;"
                                                aria-label="Name: activate to sort column ascending">로그인 코드
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Position: activate to sort column ascending">로그인 시간
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Office: activate to sort column ascending">로그아웃 시간
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 150px;"
                                                aria-label="Age: activate to sort column ascending">회원아이디
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 120px;"
                                                aria-label="Age: activate to sort column ascending">ip주소(IPv4)
                                            </th>                                                                                                                      
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
            									rowspan="1" colspan="1" style="width: 70px;"
            									aria-label="Start date: activate to sort column ascending"
            									aria-sort="descending">
        									</th>                                   
                                            
                                           

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:unless="${loginHistory == null}" th:each="l : ${loginHistory}">
                                            <td th:text="${l.loginCode}"></td>
                                            <td th:text="${l.LoginDate}"></td>
                                            <td th:text="${l.logoutDate}"></td>
                                            <td th:text="${l.memberId}"></td>
                                            <td th:text="${l.ipv4Address}"></td>
                                            <td>
                                           <button class="btn btn-dark delete" type="button">삭제</button>
                                        	</td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>
</html>