<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/mypageLayout}">
<head>

</head>
<th:block layout:fragment="customContent">
	<div class="page-title">
		<div class="title">
			<div class="col-md-6">

				<div class="x_panel">
					<div class="x_title">
						<h2>회원 등급 등록</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br>
						<form class="form-horizontal form-label-left">					
							<div class="form-group row ">
								<label class="control-label col-md-3 col-sm-3 "> 직원별 권한 대표 이름  </label>
								<div class="col-md-5 col-sm-5">
									<input type="text" class="form-control" id="sample4_roadAddress" placeholder="이것도 중복체크 필요할까?">
								</div>
							</div>
							관리자 등급은 따로 등록페이지를 만드는것도 좋아보인다 
						<div class="form-group row">
								<label class="control-label col-md-3 col-sm-9 ">사원 관리</label>
								<div class="col-md-2 col-sm-2 ">
									<select class="form-control">
									<option>O</option>
									<option>X</option>
									</select>
								</div>
							</div>
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 ">계약 관리</label>
							<div class="col-md-2 col-sm-2 ">
								<select class="form-control">
									<option>O</option>
									<option>X</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 ">결제 관리</label>
							<div class="col-md-2 col-sm-2 ">
								<select class="form-control">
									<option>O</option>
									<option>X</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 ">업체 정보 관리</label>
							<div class="col-md-2 col-sm-2 ">
								<select class="form-control">
									<option>O</option>
									<option>X</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 ">멘토 멘티 관리</label>
							<div class="col-md-2 col-sm-2 ">
								<select class="form-control">
									<option>O</option>
									<option>X</option>
								</select>
							</div>
						</div>
						<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-9 col-sm-9  offset-md-5">
									<button type="button" class="btn btn-dark">등록</button>
									<button type="reset" class="btn btn-dark">취소</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>