<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypageLayout}">

<head>
<style>
input {
  width: 50px; /* 원하는 크기로 조정 가능 */
  height: 20px;
}
.modify,
.delete,
.save,
.cancel {
  font-size: smaller; /* 원하는 크기로 변경 가능 */
  padding: 5px 10px; /* 내용과 버튼의 크기 조정 */
  
}
</style>
</head>
<th:block layout:fragment="customJs">
<script>
$(document).ready(function() {
  $('#addbutton').click(function() {
    window.location.href = '/admin/addMemberLevel';
  });
});
$(document).ready(function() {
	  $('table tbody').on('click', '.modify', function() {
	    var tr = $(this).closest('tr');
	    var modifyButton = $(this);
	    var deleteButton = tr.find('.delete');
	    var prevValues = []; // 이전 값 저장할 배열
	    tr.find('td:nth-child(n+2):nth-child(-n+7)').each(function() {
	      var value = $(this).text();
	      prevValues.push(value); // 이전 값 저장
	      console.log(prevValues);
	      var input;
	      if ($(this).index() === 2 || $(this).index() === 3 || $(this).index() === 4 || $(this).index() === 5 || $(this).index() === 6) {
	        input = $('<select>').append($('<option>').text('O').val(1)).append($('<option>').text('X').val(0));
	      } else {
	        input = $('<input>').val(value);
	      }
	      $(this).html(input);
	    });
	    modifyButton.text('저장');
	    modifyButton.removeClass('modify').addClass('save');
	    deleteButton.text('취소');
	    deleteButton.removeClass('delete').addClass('cancel'); // delete 클래스 제거하고 cancel 클래스 추가
	    // 이전 값 대신 현재 값을 attribute에 저장
	    deleteButton.attr('prev-values', prevValues);
	  });

	  $('table tbody').on('click', '.cancel', function(){
	    var tr = $(this).closest('tr');
	    var currentValues = $(this).attr('prev-values').split(","); // 현재 값 배열 가져오기
	    console.log(currentValues);
	    tr.find('td:nth-child(n+2):nth-child(-n+7)').each(function(index) {
	      var value = currentValues[index];
	      if(value==1){
	        value = "O";
	      }
	      else if(value==0){
	        value ="X";
	      }
	      // select 요소 삭제
	      if ($(this).find('select').length > 0) {
	        $(this).html(value);
	      } else {
	        $(this).text(value);
	      }
	    });
	    var saveButton = tr.find('.save');
	    var cancelButton = tr.find('.cancel'); // 클래스 변경
	    saveButton.text('수정');
	    saveButton.removeClass('save').addClass('modify');
	    console.log(saveButton);
	    cancelButton.text('삭제');
	    cancelButton.removeClass('cancel').addClass('delete'); // cancel 클래스 제거하고 delete 클래스 추가
	  	console.log(cancelButton);
	  });
	  $('table tbody').on('click', '.save', function(){
		  var tr = $(this).closest('tr');
		  var positionLevelCode = tr.find('td:eq(0)').text(); 
		  console.log("positionLevelCode " + positionLevelCode);
		  var memberLevelName = 		tr.find('td:eq(1) input').val();
		  console.log("memberLevelName    "+memberLevelName);
		  var memberManagement = 		tr.find('td:eq(2) select').val();
		  console.log("memberManagement    "+memberManagement);
		  var contractManagement = 		tr.find('td:eq(3) select').val();
		  console.log("contractManagement    "+contractManagement);
		  var paymentManagement = 		tr.find('td:eq(4) select').val();
		  console.log("paymentManagement    "+paymentManagement);
		  var companyInfoManagement =	tr.find('td:eq(5) select').val();
		  console.log("companyInfoManagement    "+companyInfoManagement);
		  var mentoMenteeManagement = 	tr.find('td:eq(6) select').val();
		  console.log("mentoMenteeManagement    "+mentoMenteeManagement);
		  var adminId = 				tr.find('td:eq(7) select').val();
		  console.log("adminId    "+adminId);
		  // 필드별로 값을 가져옵니다.
		 var deleteButton = tr.find('.cancel'); // deleteButton 변수 정의
 		 var currentValues = deleteButton.attr('prev-values').split(","); // 수정된 값 배열 가져오기
		  $.ajax({
		    type: 'POST',
		    url: '/admin/modifyMemberLevel',
		    data: {
		      positionLevelCode: positionLevelCode,
		      memberLevelName: memberLevelName,
		      memberManagement: memberManagement,
		      contractManagement: contractManagement,
		      paymentManagement: paymentManagement,
		      companyInfoManagement: companyInfoManagement,
		      mentoMenteeManagement: mentoMenteeManagement,
		      adminId: adminId
		    },
		    success: function() {
		      alert('성공했습니다.');
		      currentValues[0] = memberLevelName; // memberLevelName 값을 currentValues 배열에 추가
		      currentValues[1] = memberManagement;
		      currentValues[2] = contractManagement;
		      currentValues[3] = paymentManagement;
		      currentValues[4] = companyInfoManagement;
		      currentValues[5] = mentoMenteeManagement;

		      tr.find('td:nth-child(n+2):nth-child(-n+7)').each(function(index) {
		        var value = currentValues[index];
		        console.log(value);
		        if (index >= 1 && index <= 5) {
		          value = value == 1 ? "O" : "X";
		        }
		        
		        // select 요소 삭제
		        if ($(this).find('select').length > 0) {
		          $(this).html(value);
		        } else if ($(this).find('input').length > 0) {
		          $(this).text(value);
		        }
		      });
			    var saveButton = tr.find('.save');
			    var cancelButton = tr.find('.cancel'); // 클래스 변경
			    saveButton.text('수정');
			    saveButton.removeClass('save').addClass('modify');
			    console.log(saveButton);
			    cancelButton.text('삭제');
			    cancelButton.removeClass('cancel').addClass('delete'); // cancel 클래스 제거하고 delete 클래스 추가
			  	console.log(cancelButton);
			  
		    },
		    error: function() {
		      alert('서버와 통신 중 오류가 발생했습니다.');
		      
		    }
		  });
		});

		
	});




</script>
</th:block>
<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2>업체 내의 직원별 권한 조회</h2>

                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">


                                      <table id="datatable"
                                           class="table table-striped table-bordered"
                                           style="width: 100%;" role="grid" aria-describedby="datatable-buttons_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Name: activate to sort column ascending">직원별 권한 코드
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 250px;"
                                                aria-label="Position: activate to sort column ascending">직원별 권한 명칭
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 150px;"
                                                aria-label="Age: activate to sort column ascending">사원 관리
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 187px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">계약 관리
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 187px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">결제 관리
                                            </th>
                                             <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">업체정보 관리
                                            </th>
                                             <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">멘토멘티 관리
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 120px;"
                                                aria-label="Age: activate to sort column ascending">등록 관리자
                                            </th>
                                             <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 180px;"
                                                aria-label="Office: activate to sort column ascending">등록 일자
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
            									rowspan="1" colspan="1" style="width: 70px;"
            									aria-label="Start date: activate to sort column ascending"
            									aria-sort="descending">
        									</th>
        									<th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
            									rowspan="1" colspan="1" style="width: 70px;"
            									aria-label="Start date: activate to sort column ascending"
            									aria-sort="descending">
        									</th> 

                      

                                        </tr>
                                        </thead>
                                          <tbody>
											<tr th:if="${memberLevelList != null}" th:each="l : ${memberLevelList}">
												<td th:text="${l.positionLevelCode}"></td>
											    <td th:text="${l.memberLevelName}"></td>
												<td >
												  <span th:if="${l.memberManagement == '1'}">O</span>
												  <span th:if="${l.memberManagement == '0'}">X</span>
												</td>
												<td>
												  <span th:if="${l.contractManagement == '1'}">O</span>
												  <span th:if="${l.contractManagement == '0'}">X</span>
												</td>
												<td>
												  <span th:if="${l.paymentManagement == '1'}">O</span>
												  <span th:if="${l.paymentManagement == '0'}">X</span>
												</td>
												<td>
												  <span th:if="${l.companyInfoManagement == '1'}">O</span>
												  <span th:if="${l.companyInfoManagement == '0'}">X</span>
												</td>
												<td>
												  <span th:if="${l.mentoMenteeManagement == '1'}">O</span>
												  <span th:if="${l.mentoMenteeManagement == '0'}">X</span>
												</td>
												<td th:text="${l.adminId}"></td>
												<td th:text="${l.companyRegDate}"></td>
												<td>                                            
                                            		<button class="btn btn-dark modify" type="button">수정</button>
                                            	</td>
                                            	<td>
                                            		<button class="btn btn-dark delete" type="button" >삭제</button>
                                               </td>
                                            </tr>
		
										</tbody>
                                    </table>
                                </div>
                                	<div class="col-md-12 text-right">
							      		<button class="btn btn-primary float-right" type="button" id="addbutton" >회원 등급 등록</button>
							    	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>
</html>