<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mypageLayout}">

<head>
<style>
input {
  width: 50px; /* 원하는 크기로 조정 가능 */
  height: 20px;
}
#modifybutton,
#deletebutton {
  font-size: smaller; /* 원하는 크기로 변경 가능 */
  padding: 5px 10px; /* 내용과 버튼의 크기 조정 */
}
</style>
</head>
<th:block layout:fragment="customJs">
<script>
$(document).ready(function() {
  $('#addbutton').click(function() {
    window.location.href = '/admin/addMemberLevel';
  });
});
function deleteBoard(seq){
	Swal.fire({
	  title: '글을 삭제하시겠습니까???',
	  text: "삭제하시면 다시 복구시킬 수 없습니다.",
	  icon: 'warning',
	  showCancelButton: true,
	  confirmButtonColor: '#3085d6',
	  cancelButtonColor: '#d33',
	  confirmButtonText: '삭제',
	  cancelButtonText: '취소'
	}).then((result) => {
	  if (result.value) {
          //"삭제" 버튼을 눌렀을 때 작업할 내용을 이곳에 넣어주면 된다. 
	  }
	})
} 
$(document).ready(function() {
	  $('#deletebutton').on('click', function(e) {
	    e.preventDefault();
	    var seq = $(this).data('seq'); // data-seq 속성을 사용하여 seq 값을 가져옵니다.
	    deleteBoard(seq); // deleteBoard 함수를 호출합니다.
	  });
	});
$(document).ready(function() {
	  $('table tbody').on('click', '#modifybutton', function() {
	    var tr = $(this).closest('tr');
	    var modifyButton = $(this);
	    var deleteButton = tr.find('#deletebutton');
	    tr.find('td:nth-child(n+2):nth-child(-n+7)').each(function() {
	      var value = $(this).text();
	      var input;
	      if ($(this).index() === 2 || $(this).index() === 3 || $(this).index() === 4 || $(this).index() === 5 || $(this).index() === 6) {
	        input = $('<select>').append($('<option>').text('O').val(1)).append($('<option>').text('X').val(0));
	      } else {
	        input = $('<input>').val(value);
	      }
	      $(this).html(input);
	    });
	    modifyButton.text('저장');
	    deleteButton.text('뒤로가기');
	    deleteButton.attr('id', 'cancelbutton');
	  });

	  $('table tbody').on('click', '#cancelbutton', function() {
	    var tr = $(this).closest('tr');
	    var modifyButton = tr.find('#modifybutton');
	    var deleteButton = $(this);
	    tr.find('td:nth-child(n+2):nth-child(-n+7)').each(function() {
	      var value = $(this).find('select').val() || $(this).find('input').val();
	      $(this).html(value);
	    });
	    modifyButton.text('수정');
	    deleteButton.text('삭제');
	    deleteButton.attr('id', 'deletebutton');
	  });

	  $('table tbody').on('click', '#deletebutton', function() {
	    // 삭제 버튼의 동작
	  });
	});
</script>
</th:block>
<th:block layout:fragment="customContent">
    <div class="page-title">
        <div class="title">
            <div class="x_panel">
                <div class="x_title">
                    <h2>업체 내의 직원별 권한 조회</h2>

                    <ul class="nav navbar-right panel_toolbox" style="flex-direction: row-reverse">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            </div>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="col-sm-12">


                                      <table id="datatable"
                                           class="table table-striped table-bordered"
                                           style="width: 100%;" role="grid" aria-describedby="datatable-buttons_info">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Name: activate to sort column ascending">직원별 권한 코드
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 250px;"
                                                aria-label="Position: activate to sort column ascending">직원별 권한 명칭
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 150px;"
                                                aria-label="Age: activate to sort column ascending">사원 관리
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 187px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">계약 관리
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 187px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">결제 관리
                                            </th>
                                             <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">업체정보 관리
                                            </th>
                                             <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 200px;"
                                                aria-label="Start date: activate to sort column ascending"
                                                aria-sort="descending">멘토멘티 관리
                                            </th>
                                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 120px;"
                                                aria-label="Age: activate to sort column ascending">등록 관리자
                                            </th>
                                             <th class="sorting" tabindex="0" aria-controls="datatable-buttons"
                                                rowspan="1" colspan="1" style="width: 180px;"
                                                aria-label="Office: activate to sort column ascending">등록 일자
                                            </th>
                                            <th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
            									rowspan="1" colspan="1" style="width: 70px;"
            									aria-label="Start date: activate to sort column ascending"
            									aria-sort="descending">
        									</th>
        									<th class="sorting_desc" tabindex="0" aria-controls="datatable-buttons"
            									rowspan="1" colspan="1" style="width: 70px;"
            									aria-label="Start date: activate to sort column ascending"
            									aria-sort="descending">
        									</th> 

                      

                                        </tr>
                                        </thead>
                                          <tbody>
											<tr th:unless="${memberLevelList == null}" th:each="l : ${memberLevelList}">
												<td th:text="${l.positionLevelCode}"></td>
												<td th:text="${l.memberLevelName}"></td>
												<td th:text="${l.memberManagement}"></td>
												<td th:text="${l.contractManagement}"></td>
												<td th:text="${l.paymentManagement}"></td>
												<td th:text="${l.companyInfoManagement}"></td>
												<td th:text="${l.mentoMenteeManagement}"></td>
												<td th:text="${l.adminId}"></td>
												<td th:text="${l.compayRegDate}"></td>
												<td>                                            
                                            		<button class="btn btn-dark" type="button" id="modifybutton" >수정</button>
                                            	</td>
                                            	<td>
                                            		<button class="btn btn-dark" type="button" id="deletebutton" >삭제</button>
                                               </td>
                                            </tr>
		
										</tbody>
                                    </table>
                                </div>
                                	<div class="col-md-12 text-right">
							      		<button class="btn btn-primary float-right" type="button" id="addbutton" >회원 등급 등록</button>
							    	</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</th:block>
</html>