<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">

<head>

</head>

<div class="page-title" th:fragment="customContent">
	<div class="title">
		<h2 th:text="${questiontypename}"></h2>
		<ul class="nav navbar-right panel_toolbox"
			style="flex-direction: row-reverse">
			<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
			<li class="dropdown">
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
			</li>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">
		<table class="table table-striped jambo_table bulk_action">
			<thead>
				<tr class="headings">
					<th>No.</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${questionlist}">
					<td class="text-center w-10" th:text="${item.question_code}"></td>
					<td class="w-25"><a
						th:href="@{${root} + 'customerservice/read(question_type_code=' + ${question_type_code} + '&question_code=' + ${item.question_code} + '&page=' + ${page} + ')'}"
						class="text-decoration-none" th:text="${item.question_title}"></a></td>
					<td class="text-center w-10" th:text="${item.member_name}"></td>
					<td class="text-center w-10" th:text="${item.question_reg_date}"></td>
				</tr>
			</tbody>
		</table>
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<a
				th:href="@{${root} + 'customerservice/write(quesion_type_code=' + ${question_type_code} + '&page=' + ${page} + ')'}"
				class="btn btn-outline-dark">글쓰기</a>
		</div>
	</div>
</div>
</html>
