<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<th:block layout:fragment="customJs">
	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		$(document).ready(function() {

			// 등록 버튼 클릭 시 이벤트 처리
			$('.modify').click(function() {
				var answerTitle = $("#answerTitle").val();
				var answerContent = $("#answerContent").val();
				var answerFile = $("#answerFile").val();
				var answerCode = $("#answerCode").val();
				var questionCode = $("#questionCode").val();
				var questionStatus = $("#questionStatus").val();
				console.log(questionStatus)

				$.ajax({
					type : 'POST',
					url : '/customerservice/modify_answer_proc',
					data : {
						'answerTitle' : answerTitle,
						'answerContent' : answerContent,
						'answerFile' : answerFile,
						'answerCode' : answerCode,
						'questionCode' : questionCode,
						'questionStatus' : questionStatus
					},
					success : function(data) {
						console.log(data.questionStatus)
						$('#questionStatus').val(data.questionStatus)
						alert('답변이 성공적으로 수정되었습니다.');
						window.location.href = '/customerservice/answerlist';
						// 답변 리스트 페이지로 리다이렉트
					},
					error : function(xhr, status, error) {
						alert('답변 수정 중 오류가 발생했습니다. 다시 시도해 주세요.');
					}

				});

				$('#reset-btn').click(function() {
					resetForm(); // 폼 리셋 함수 호출
					$("#answerTitle").val(answerTitle); // answerTitle 필드를 초기 값으로 리셋
					$("#answerContent").val(answerContent); // answerContent 필드를 초기 값으로 리셋
				});
			});

			// 취소 버튼 클릭 시 이벤트 처리
			$('.cancel').click(function() {
				window.location.href = '/customerservice/answerlist';
			});
		});
	</script>
</th:block>
</head>
<th:block layout:fragment="customContent">
	<div class="container my-4">
		<div class="col-md-8">
			<div class="card">
				<h2 class="card-header text-center">답변 수정</h2>
				<div class="card-body">
					<form id="modifyAnswerForm" method="post">
						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 " for="answerCode">Answer
								No.</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" name="answerCode"
									id="answerCode" th:value="${getAnswerDto.answerCode}" readonly>
							</div>
						</div>
						<div class="form-group row" style="display: none;">
							<label class="control-label col-md-3 col-sm-3 " for="questionCode">Question
								No.</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" name="questionCode"
									id="questionCode" th:value="${getAnswerDto.questionCode}" readonly>
							</div>
						</div>

						<input type="hidden" id="farmAddr" name="farmAddr" />

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 "
								for="answerRegDate">답변 등록일 </label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" name="answerRegDate"
									id="answerRegDate" th:value="${getAnswerDto.answerRegDate}"
									readonly>
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 " for="answerTitle">답변
								제목 </label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" name="answerTitle"
									id="answerTitle" th:value="*{getAnswerDto.answerTitle}">
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 "
								for="answerContent">답변 내용 <span class="required">*</span>
							</label>
							<div class="col-md-9 col-sm-9 ">
								<textarea class="form-control" rows="3" name="answerContent"
									id="answerContent" th:text="*{getAnswerDto.answerContent}"></textarea>
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 "
								for="questionStatus">답변 상태</label>
							<div class="col-md-9 col-sm-9 ">
								<select class="form-control" name="questionStatus"
									id="questionStatus">
									<option value="weighting"
										th:selected="${getAnswerDto.questionStatus == 'weighting'}">weighting
										for response</option>
									<option value="processing"
										th:selected="${getAnswerDto.questionStatus == 'processing'}">processing</option>
									<option value="complete"
										th:selected="${getAnswerDto.questionStatus == 'complete'}">complete</option>
								</select>
							</div>
						</div>


						<div class="form-group row">
							<label class="form-label" for="">첨부 이미지</label> <input
								type="file" class="form-control" id="answerfile" />
						</div>

						<div th:if="${errorMsg}" class="alert alert-danger" role="alert">
							<span th:text="${errorMsg}"></span>
						</div>
					</form>
				</div>

			</div>
			<div class="text-center mt-4">
				<button type="button" class="btn btn-outline-secondary cancel">취소</button>
				<button type="button" class="btn btn-outline-primary modify">등록</button>
			</div>
		</div>
	</div>

</th:block>
</html>