<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
</head>
<body>
	<th:block layout:fragment="customContent">
		<div class="container" th:style="'margin-top: 100px'">
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-6 col-lg-12">
					<div class="card shadow">
						<div class="card-body">
							<form th:action="@{/customerservice/modify_proc}" method="post" enctype="multipart/form-data">
								<div th:object="${modifyQuestionDto}">
									<input type="hidden" name="questionTypeCode"
										th:value="${modifyQuestionDto.questionTypeCode}" /> <input
										type="hidden" name="questionCode"
										th:value="${modifyQuestionDto.questionCode}" /> <input
										type="hidden" name="page" th:value="${page}" />
										
									<div class="form-group mb-3">
										<label class="form-label" for="memberId">작성자</label> <input
											type="text" id="memberId" th:value="*{memberId}"
											name="memberId" class="form-control" readonly="readonly" />
									</div>
									<div class="form-group mb-3">
										<label class="form-label" for="questionRegDate">작성날짜</label> <input
											type="text" id="questionRegDate"
											th:value="*{questionRegDate}" name="questionRegDate"
											class="form-control" readonly="readonly" />
									</div>
									<div class="form-group mb-3">
										<label class="form-label" for="questionTitle" >제목</label> <input
											type="text" id="questionTitle" th:value="*{questionTitle}"
											name="questionTitle" class="form-control" />
										<p th:if="${#fields.hasErrors('questionTitle')}"
											th:errors="*{modifyQuestionDto.questionTitle}" style="color: red;"></p>
									</div>
									<div class="form-group mb-3">
										<label class="form-label" for="questionContent">내용</label>
										<textarea id="questionContent" th:value="*{questionContent}"
											name="questionContent" class="form-control" rows="10"
											style="resize: none"></textarea>
										<p th:if="${#fields.hasErrors('questionContent')}"
											th:errors="*{modifyQuestionDto.questionContent}" style="color: red;"></p>
									</div>
									<div class="form-group mb-3">
										<label class="form-label" for="">첨부 이미지</label>
										<th:if test="${modifyQuestionDto.questionFile != null }">
												<img src="upload/${modifyQuestionDto.quesitonFile}" width="50%"/>	
												<th:hidden path="questionFile"/>
											</th:if>
										<th:input type="file" path="uploadFile" class="form-control" accept="image/*"/>			
									</div>
									<div class="form-group">
										<div class="d-grid gap-2 d-md-flex justify-content-md-end">
											<button type="submit" class="btn btn-primary" id="subminBtn">수정완료</button>
											<a
												th:href="@{/customerservice/read(questionTypeCode=${questionTypeCode},questionCode=${questionCode},page=${page})}"
												class="btn btn-info">취소</a>
										</div>
									</div>
								</div>
							</form>
						</div>
							<div class="col-sm-3"></div>
					</div>
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</th:block>
</body>
</html>
=
