<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">
<head>
<th:block layout:fragment="customJs">
	<script>
		$(document).ready(function() {
			// 문의유형 등록 버튼 클릭 시 모달 창 띄우기
			$('button[data-target="#myModal"]').click(function() {
				$('#myModal').modal('show');
			});

			// 모달창에서 취소 버튼 클릭 시 모달창 닫기
			$('#myModal button[data-dismiss="modal"]').click(function() {
				$('#myModal').modal('hide');
			});

			$(function() {
				$('#myModal').on('click', '.btn-submit', function(e) {
					e.preventDefault();

					var data = {
						adminId : $('#adminId').val(),
						questionTypeCode : $('#questionTypeCode').val(),
						questionTypeName : $('#questionTypeName').val()
					};

					$.ajax({
						type : 'POST',
						url : '/customerservice/questiontypelist/add_proc',
						data : data,
						success : function(response) {
							$('#myModal').modal('hide'); // 모달 닫기
							location.reload(); // 페이지 새로고침 // 등록 성공 시 처리
						},
						error : function(xhr, status, error) {
							alert("오류 발생"); // 등록 실패 시 처리
						}
					});
				});
			}); 
			
			 /*  $("#writeQuestionTypeBtn").click(function() {
				    var questionTypeName = $("#questionTypeName").val();
				    var questionType = {"questionTypeName": questionTypeName};
				    $.ajax({
				      type: "POST",
				      url: "/questionType/register",
				      contentType: "application/json",
				      data: JSON.stringify(questionType),
				      success: function(response) {
				        if (response === "success") {
				          $("#myModal").modal("hide");
				          alert("문의유형이 등록되었습니다.");
				          location.reload();
				        } else {
				          alert("문의유형 등록에 실패했습니다.");
				        }
				      },
				      error: function(e) {
				        console.log("error: ", e);
				        alert("문의유형 등록에 실패했습니다.");
				      }
				    });
				  }); */
		});
	</script>
</head>

<th:block layout:fragment="customContent">

	<div class="page-title">
		<div class="title">
			<div class="x_panel">
				<div class="x_title">
					<h3>Q & A INFO 관리</h3>

					<ul class="nav navbar-right panel_toolbox"
						style="flex-direction: row-reverse">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown">
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							</div>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box table-responsive">
								<div class="col-sm-12">

									<table id="datatable-buttons"
										class="table table-striped table-bordered dataTable no-footer dtr-inline"
										style="width: 100%;" role="grid"
										aria-describedby="datatable-buttons_info">
										<thead>
											<tr role="row">
												<th class="sorting" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 255px;"
													aria-label="Name: activate to sort column ascending">Type
													No.</th>
												<th class="sorting" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 255px;"
													aria-label="Name: activate to sort column ascending">게시판
													이름</th>
												<th class="sorting" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 200px;"
													aria-label="Position: activate to sort column ascending">담당관리자ID
												</th>
												<th class="sorting" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 200px;"
													aria-label="Office: activate to sort column ascending">문의유형등록일
												</th>
												<th class="sorting" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 120px;"
													aria-label="Age: activate to sort column ascending">문의유형수정일
												</th>
												<th class="sorting_desc" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 187px;"
													aria-label="Start date: activate to sort column ascending"
													aria-sort="descending">문의유형삭제일</th>
												<th class="" rowspan="1" colspan="1" style="width: 187px;">문의
													유형 수정</th>
												<th class="" rowspan="1" colspan="1" style="width: 187px;">문의
													유형 삭제</th>
											</tr>
										</thead>
										<tbody>
											<tr id="boardLikeListTable"
												th:unless="${questionTypeList == null}"
												th:each="l : ${questionTypeList}">
												<td th:text="${l.questionTypeCode}"></td>
												<td th:text="${l.questionTypeName}"
													style="text-align: center;"></td>
												<td th:text="${l.adminId}" style="text-align: center;"></td>
												<td th:text="${l.questionTypeRegDate}"></td>
												<td th:text="${l.questionTypeModifyDate}"></td>
												<td th:text="${l.questionTypeDelDate}"></td>
												<td><a href="#"><i class="fa fa-edit"></i>수정</a></td>
												<td><a href="#" class="delete"><i
														class="fa fa-close"></i> 삭제</a></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="dataTables_paginate paging_simple_numbers"
									style="margin: 20px;">
									<button type="button" class="btn btn-secondary"
										data-toggle="modal" data-target="#myModal">문의유형등록</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 모달 창 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-right modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">문의유형 등록</h4>

				</div>

				<div class="modal-body">
					<!-- 모달 내용 -->
					<div class="form-group row">
						<div class="col-md-12 col-sm-12">
							<form class="form-horizontal form-label-left"
								th:action="@{/customerservice/questiontypelist/add_proc}"
								method="post">

								<div th:object="${writeQuestionTypeDto}">
									<div class="form-group row">
										<label class="control-label col-md-4 col-sm-4" for="adminId"
											th:text="관리자">관리자</label>
										<div class="col-md-8 col-sm-8">
											<input type="text" class="form-control" id="adminId"
												name="adminId" readonly="readonly" />
										</div>
									</div>

									<div class="form-group row">
										<label class="control-label col-md-4 col-sm-4"
											for="questionTypeCode">문의 유형 코드</label>
										<div class="col-md-8 col-sm-8">
											<input type="text" class="form-control" id="questionTypeCode"
												name="questionTypeCode" readonly="readonly" />
										</div>
									</div>

									<div class="form-group row">
										<label class="control-label col-md-4 col-sm-4"
											for="questionTypeName">문의 유형 이름</label>
										<div class="col-md-8 col-sm-8">
											<input type="text" class="form-control" id="questionTypeName"
												name="questionTypeName" />
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<a class="btn btn-submit"
										th:href="@{/customerservice/questiontypelist}"
										style="float: left;">등록</a>
									<button type="button" class="btn btn-default"
										data-dismiss="modal">취소</button>

								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- 	<div class="modal-footer">
					<a class="btn btn-submit"
						th:href="@{/customerservice/questiontypelist}"
						style="float: left;">등록</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>

				</div> -->
			</div>
		</div>
	</div>
</th:block>

</html>