<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">
<head>
<th:block layout:fragment="customJs">
	<script>
		$(document).ready(
				function() {
					$('#datatable-buttons').on(
							'click',
							'#detail',
							function() {
								var questionCode = $(this).closest('tr').find(
										'td:first').text();

								$.ajax({
									url : '/customerservice/addQuestionList',
									method : 'GET',
									data : {
										questionCode : questionCode
									},
									success : function(response) {
										$('#questionCode').val(
												response.questionCode);
										$('#memberId').val(response.memberId);
										$('#questionTypeName').val(
												response.questionTypeName); 
										$('#questionRegDate').val(
												response.questionRegDate);
										$('#questionTitle').val(
												response.questionTitle);
										$('#questionContent').val(
												response.questionContent);
										$('#questionStatus').val(
												response.questionStatus);
										//$('#questionFile').val(response.questionFile);
									},
									error : function(error) {
										console.log("Error: ", error);
									}
								});
							});
				});
	</script>
</th:block>
</head>

<th:block layout:fragment="customContent">

	<div class="page-title">
		<div class="title">
			<div class="x_panel">
				<div class="x_title">
					<h3>문의 관리</h3>

					<ul class="nav navbar-right panel_toolbox"
						style="flex-direction: row-reverse">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
						<li class="dropdown">
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							</div>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
					<div class="row">
						<div class="col-sm-12">
							<div class="card-box table-responsive">
								<div class="col-sm-12">

									<table id="datatable-buttons"
										class="table table-striped table-bordered dataTable no-footer dtr-inline"
										style="width: 100%;" role="grid"
										aria-describedby="datatable-buttons_info">
										<thead>
											<tr role="row">
												<th class="sorting" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 255px;"
													aria-label="Name: activate to sort column ascending">Q
													No.</th>
												<th class="sorting" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 255px;"
													aria-label="Name: activate to sort column ascending">게시판
												</th>
												<th class="sorting_desc" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 187px;"
													aria-label="Start date: activate to sort column ascending"
													aria-sort="descending">문의 세부내용</th>
												<th class="sorting_desc" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 187px;"
													aria-label="Start date: activate to sort column ascending"
													aria-sort="descending">작성자</th>
												<th class="sorting_desc" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 187px;"
													aria-label="Start date: activate to sort column ascending"
													aria-sort="descending">등록일</th>
												<th class="sorting_desc" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 187px;"
													aria-label="Start date: activate to sort column ascending"
													aria-sort="descending">답변상태</th>
												<th class="sorting_desc" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 187px;"
													aria-label="Start date: activate to sort column ascending"
													aria-sort="descending">답변 등록</th>
												<th class="sorting_desc" tabindex="0"
													aria-controls="datatable-buttons" rowspan="1" colspan="1"
													style="width: 187px;"
													aria-label="Start date: activate to sort column ascending"
													aria-sort="descending">문의 삭제</th>

											</tr>
										</thead>
										<tbody>
											<tr id="boardLikeListTable"
												th:unless="${questionList == null}"
												th:each="l : ${questionList}">
												<td th:text="${l.questionCode}"></td>
												<td th:text="${l.questionTypeCode}"
													style="text-align: center;"></td>
												<td>
													<button type="button" class="btn btn-dark " id="detail"
														data-toggle="modal" data-target="#myModal">문의
														상세내용 보기</button>
												</td>
												<td th:text="${l.memberId}"></td>
												<td th:text="${l.questionRegDate}"></td>
												<td th:text="${l.questionStatus}"></td>
												<td><a th:href="@{/customerservice/add_answer}">
														<button class="btn btn-primary float-right" type="button">답변
															등록</button>
												</a></td>
												<td><a href="#" class="delete"><i
														class="fa fa-close"></i>삭제</a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 문의 세부내용 모달창 -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-right modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">문의 상세 정보</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form class="form-horizontal form-label-left" id="addFarmForm"
						method="post">

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 "
								for="questionCode">question No.</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" name="questionCode"
									th:value="${questionCode}" id="questionCode" readonly />
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 "
								for="questionTypeName">문의 유형 이름</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" name="questionTypeName"
									th:value="${questionTypeName}" id="questionTypeName" readonly />
							</div>
						</div>


						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 " for="memberId">작성자</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" name="memberId"
									id="memberId" th:value="${memberId}" readonly />
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 "
								for="questionRegDate">작성 등록일</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" name="questionRegDate"
									id="questionRegDate" readonly>
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 "
								for="questionTitle">작성 제목</label>
							<div class="col-md-9 col-sm-9 ">
								<input type="text" class="form-control" name="questionTitle"
									id="questionTitle" readonly>
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 "
								for="questionContent">문의 내용<span class="required">*</span>
							</label>
							<div class="col-md-9 col-sm-9 ">
								<textarea class="form-control" rows="3" name="questionContent"
									id="questionContent" readonly></textarea>
							</div>
						</div>

						<div class="form-group row">
							<label class="control-label col-md-3 col-sm-3 "
								for="questionStatus">답변 상태</label> <input type="text"
								class="form-control" name="questionStatus" id="questionStatus"
								readonly />
						</div>

						<div class="form-group row">
							<label class="form-label" for="">첨부 이미지</label> <input
								class="form-control" readonly />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


</th:block>

</html>