<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<head>
<title></title>
</head>
<body>

	<th:block layout:fragment="customContent">

		<section class="py-2" style="height: 720px">
			<div class="container px-4 px-lg-5 mt-1">
				<h2>Q & A</h2>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-6 col-lg-12">
						<div class="card shadow">
							<div class="card-body">
								<th:form action="" method="post" modelAttribute=""
									enctype="multipart/form-data">
									<th:hidden path="" />
									<input type="hidden" name="page" value="" />
									<div class="form-group mb-3">
										<th:label path="" class="form-label">제목</th:label>
										<th:input path="" class="form-control" />
										<th:errors path="" style="color:red" />
									</div>
									<div class="form-group mb-3">
										<th:label path="" class="form-label">내용</th:label>
										<th:text path="" class="form-control" rows="10"
											style="resize:none" />
										<th:errors path="" style="color:red" />
									</div>
									<div class="form-group mb-3">
										<th:label path="" class="form-label">첨부 이미지</th:label>
										<th:input type="file" path="" class="form-control"
											accept="image/*" />
									</div>
									<div class="form-group mb-3">
										<div class="d-grid gap-2 d-md-flex justify-content-md-end">
											<th:button class="btn btn-outline-dark">작성하기</th:button>
											<a href="" class="btn btn-outline-dark">취소</a>
										</div>
									</div>

								</th:form>
							</div>
						</div>
					</div>
					<div class="col-sm-3"></div>
				</div>
			</div>
		</section>
	</th:block>

</body>
</html>
-->
